@using FakeNewsFilter.ViewModel.Catalog.NewsManage
@model List<NewsViewModel>
@using System.Globalization
@{
    var culture = CultureInfo.CurrentCulture.Name;
}

<h3 class="mb-30">03 Comments</h3>
<div class="comment-list">
    <div class="single-comment justify-content-between d-flex">
        <div class="user justify-content-between d-flex">
            <div class="thumb">
                <img src="~/assets/imgs/authors/author-2.png" alt="">
            </div>
            <div class="desc">
                <p class="comment">
                    Every secret of a writer’s soul, every experience of his life, every quality of his mind, is written large in his works. Start writing, no matter what. The water does not flow until the faucet is turned on.
                </p>
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <h5>
                            <a href="#">Alice Rose</a>
                        </h5>
                        <p class="date">December 4, 2020 at 3:12 pm </p>
                    </div>
                    <div class="reply-btn">
                        <a href="#" class="btn-reply text-uppercase">reply</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="comment-list">
    <div class="single-comment justify-content-between d-flex">
        <div class="user justify-content-between d-flex">
            <div class="thumb">
                <img src="~/assets/imgs/authors/author-3.png" alt="">
            </div>
            <div class="desc">
                <p class="comment">
                    You don’t start out writing good stuff. You start out writing crap and thinking it’s good stuff, and then gradually you get better at it. That’s why I say one of the most valuable traits is persistence.
                </p>
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <h5>
                            <a href="#">O.Henry</a>
                        </h5>
                        <p class="date">December 4, 2020 at 3:12 pm </p>
                    </div>
                    <div class="reply-btn">
                        <a href="#" class="btn-reply text-uppercase">reply</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="comment-list">
    <div class="single-comment justify-content-between d-flex">
        <div class="user justify-content-between d-flex">
            <div class="thumb">
                <img src="~/assets/imgs/authors/author-16.png" alt="">
            </div>
            <div class="desc">
                <p class="comment">
                    So read on to find some apt quotes for all writing occasions from considering to be a writer to experiencing a writers block to have already created that masterpiece yet contemplating if it’s good enough.
                </p>
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <h5>
                            <a href="#">Lima Azumi</a>
                        </h5>
                        <p class="date">December 4, 2020 at 3:12 pm </p>
                    </div>
                    <div class="reply-btn">
                        <a href="#" class="btn-reply text-uppercase">reply</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>