@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">
<head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!--====== Title ======-->
    <title>OWL Trust - Fake News Filter</title>
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="~/intro/images/favicon.png" type="image/png" />

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="~/intro/css/bootstrap.min.css" />

    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="~/intro/css/font-awesome.min.css" />

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="~/intro/css/animate.min.css" />

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="~/intro/css/magnific-popup.css" />

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="~/intro/css/slick.css" />

    <!--====== Default css ======-->
    <link rel="stylesheet" href="~/intro/css/custom-animation.css" />
    <link rel="stylesheet" href="~/intro/css/default.css" />

    <!--====== Style css ======-->
    <link rel="stylesheet" href="~/intro/css/style.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/css/flag-icon.min.css" />
    <!--====== PART START ======-->
</head>
<body>
    <partial name="Header" />
    <section class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="contact--info-area">
                        <h3>OWL Trust</h3>
                        <p>
                            Ứng dụng đọc tin tức đáng tin cậy.
                        </p>
                        <div class="single-info">
                            <h5>Địa chỉ</h5>
                            <p>
                                <i class="fal fa-home"></i>
                                TP.HCM City, VIETNAM
                            </p>
                        </div>
                        <div class="single-info">
                            <h5>Phone</h5>
                            <p>
                                <i class="fal fa-phone"></i>
                                +84 333 093 935
                            </p>
                        </div>
                        <div class="single-info">
                            <h5>Support</h5>
                            <p>
                                <i class="fal fa-envelope"></i>
                                khuyenpb@gmail.com
                            </p>
                        </div>
                        <div class="ab-social">
                            <h5>Follow Us</h5>
                            <a class="fac" href="https://www.facebook.com/buiphukhuyen"><i class="fab fa-facebook-f"></i></a>
                            <a class="twi" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="you" href="#"><i class="fab fa-youtube"></i></a>
                            <a class="lin" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="contact-form">
                        <h4>Kết nối với chúng tôi</h4>
                        <p>Kết nối với chúng tôi nếu bạn gặp vấn đề khi sử dụng ứng dụng.</p>
                        <form action="#" method="post" class="row">
                            <div class="col-md-6">
                                <input type="text" name="f-name" placeholder="Tên" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="l-name" placeholder="Họ" />
                            </div>
                            <div class="col-md-6">
                                <input type="email" name="email" placeholder="Địa chỉ Email" />
                            </div>
                            <div class="col-md-6">
                                <input type="number" name="phone" placeholder="Số điện thoại" />
                            </div>
                            <div class="col-md-12">
                                <input type="text" name="suject" placeholder="Tiêu đề" />
                            </div>
                            <div class="col-md-12">
                                <textarea name="message" placeholder="Chúng tôi có thể giúp gì cho bạn?"></textarea>
                            </div>
                            <div class="col-md-6">
                                <div class="condition-check">
                                    <input id="terms-conditions" type="checkbox" />
                                    <label for="terms-conditions"> Tôi đồng ý với <a asp-controller="Home" asp-action="Privacy">điều khoản sử dụng</a> </label>
                                </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <input type="submit" name="submit" value="Gửi" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <partial name="Footer" />

    <!--====== APPIE BACK TO TOP PART ENDS ======-->
    <div class="back-to-top">
        <a href="#"><i class="fal fa-arrow-up"></i></a>
    </div>
    <!--====== APPIE BACK TO TOP PART ENDS ======-->
    <!--====== APPIE PROJECT PART ENDS ======-->
    <!--====== jquery js ======-->
    <script src="~/intro/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/intro/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
    <script src="~/intro/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>
    <script src="~/intro/js/popper.min.js"></script>

    <!--====== wow js ======-->
    <script src="~/intro/js/wow.js"></script>

    <!--====== Slick js ======-->
    <script src="~/intro/js/jquery.counterup.min.js"></script>
    <script src="~/intro/js/waypoints.min.js"></script>

    <!--====== TweenMax js ======-->
    <script src="~/intro/js/TweenMax.min.js"></script>

    <!--====== Slick js ======-->
    <script src="~/intro/js/slick.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="~/intro/js/jquery.magnific-popup.min.js"></script>

    <!--====== Main js ======-->
    <script src="~/intro/js/main.js"></script>

</body>
</html>