<section class="appie-footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="footer-about-widget">
                    <div class="logo">
                        <a href="#"><img src="assets/images/logo.png" alt="" /></a>
                    </div>
                    <p>OWL Trust là ứng dụng đọc tin tức giúp người dùng tiếp cận những tin tức mới và chính xác nhất</p>
                    <a href="#">Xem thêm<i class="fal fa-arrow-right"></i></a>
                    <div class="social mt-30">
                        <ul>
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="footer-navigation">
                    <h4 class="title">Công ty</h4>
                    <ul>
                        <li><a href="#">Về chúng tôi</a></li>
                        <li><a href="#">Dịch vụ</a></li>
                        <li><a href="#">Liên hệ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-navigation">
                    <h4 class="title">Hỗ trợ</h4>
                    <ul>
                        <li><a href="#">Cộng đồng</a></li>
                        <li><a href="#">Câu hỏi thường gặp</a></li>
                        <li><a asp-controller="Home" asp-action="Privacy">Chính sách bảo mật</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget-info">
                    <h4 class="title">Liên lạc với chúng tôi</h4>
                    <ul>
                        <li>
                            <a href="#"><i class="fal fa-envelope"></i>khuyenpb@gmail.com</a>
                        </li>
                        <li>
                            <a href="#"><i class="fal fa-phone"></i> +84 333 093 935</a>
                        </li>
                        <li>
                            <a href="#"><i class="fal fa-map-marker-alt"></i> TP.HCM City, VIETNAM</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-copyright d-flex align-items-center justify-content-between pt-35">
                    <div class="apps-download-btn">
                        <ul>
                            <li>
                                <a href="#"><i class="fab fa-apple"></i>Tải ứng dụng trên iOS</a>
                            </li>
                            <li>
                                <a class="item-2" href="#"><i class="fab fa-google-play"></i>Tải ứng dụng trên Android</a>
                            </li>
                        </ul>
                    </div>
                    <div class="copyright-text">
                        <p>Copyright © 2022 OWL Trust. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>