@{
    Layout = null;
    var culture = CultureInfo.CurrentCulture.Name;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!--====== Title ======-->
    <title>OWL Trust - Policy</title>
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="~/intro/images/logo/logo_OWL_NoText-05.svg" type="image/png" />

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="~/intro/css/bootstrap.min.css" />

    <link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css" />

    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="~/intro/css/font-awesome.min.css" />

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="~/intro/css/animate.min.css" />

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="~/intro/css/magnific-popup.css" />

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="~/intro/css/slick.css" />

    <!--====== Default css ======-->
    <link rel="stylesheet" href="~/intro/css/custom-animation.css" />
    <link rel="stylesheet" href="~/intro/css/default.css" />

    <!--====== Style css ======-->
    <link rel="stylesheet" href="~/intro/css/style.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/css/flag-icon.min.css" />
</head>

<body data-spy="scroll" data-target="#toc">
    <partial name="Header" />
    <!--====== APPIE SERVICE DETAILS PART ENDS ======-->

    <section class="appie-hero-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-3">
                    <nav id="toc" data-toggle="toc" class="sticky-top" localize-content>FUNCTIONS</nav>
                </div>
                <div class="col-sm-9">
                    <h2 class="text-center" localize-content>SYSTEM FUNCTIONS</h2>

                    <div class="row justify-content-center col-lg-12">
                        <div class="service-details-content">

                            <div class="content">
                                <h3 class="title" localize-content>Start the application</h3>
                                <div class="thumb wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms" style="width: 300px; display: block; margin-left: auto; margin-right: auto;">
                                    <img src="~/intro/images/app/app_home.png" alt="" />
                                </div>
                                <p class="text-center" localize-content>When you log in, you will see the system icon and say hello</p>
                            </div>

                            <div class="content">
                                <h3 class="title" localize-content>Log in</h3>
                                <div class="thumb wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms" style="width: 300px; display: block; margin-left: auto; margin-right: auto;">
                                    <img src="~/intro/images/app/app_login.png" alt="" />
                                </div>
                                <h6 localize-content>User can login with registered account, facebook and google account</h6>
                                <p localize-content>
                                    Log in content
                                </p>
                            </div>

                            <div class="content">
                                <h3 class="title" localize-content>Change language</h3>
                                <div class="thumb wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms" style="width: 300px; display: block; margin-left: auto; margin-right: auto;">
                                    <img src="~/intro/images/app/app_change_languages.png" alt="" />
                                </div>
                                <h6 localize-content>Language change interface</h6>
                                <p localize-content>
                                    Change language content
                                </p>
                            </div>

                            <div class="content">
                                <h3 class="title" localize-content>View news topics</h3>
                                <div class="thumb wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms" style="width: 300px; display: block; margin-left: auto; margin-right: auto;">
                                    <img src="~/intro/images/app/app_topic.png" alt="" />
                                </div>
                                <br />
                                <h6 localize-content>Interface to view news topics</h6>
                                <p localize-content>
                                    View news topics content
                                </p>
                            </div>

                            <div class="content">
                                <h3 class="title" localize-content>Read news without logging in</h3>
                                <div class="thumb wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms" style="width: 300px; display: block; margin-left: auto; margin-right: auto;">
                                    <img src="~/intro/images/app/app_new_without_login.png" alt="" />
                                </div>
                                <br />
                                <h6 localize-content>The interface to read the news first when not logged in</h6>
                                <p localize-content>
                                    Read news without logging in content
                                </p>
                            </div>

                            <div class="content">
                                <h6 class="title" localize-content>Subscribe to news topics</h6>
                                <div class="thumb wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms" style="width: 300px; display: block; margin-left: auto; margin-right: auto;">
                                    <img src="~/intro/images/app/app_choose_topic.png" alt="" />
                                </div>
                                <br />
                                <p style="font-weight: bold;" localize-content>When logging in, users are required to choose at least 4 topics to be able to log in and read news</p>
                            </div>

                            <div class="content">
                                <h3 class="title" localize-content>View news list</h3>
                                <div class="thumb wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms" style="width: 300px; display: block; margin-left: auto; margin-right: auto;">
                                    <img src="~/intro/images/app/app_news.png" alt="" />
                                </div>
                                <br />
                                <h6 localize-content>Home page interface to read news</h6>
                                <p localize-content>
                                    View news list content
                                </p>
                            </div>

                            <div class="content">
                                <h3 class="title" localize-content>Read news</h3>
                                <div class="thumb wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms" style="width: 300px; display: block; margin-left: auto; margin-right: auto;">
                                    <img src="~/intro/images/app/app_newsdetail.png" alt="" />
                                </div>
                                <br />
                                <h6 localize-content>News reading interface</h6>
                                <p localize-content>
                                    Read news content
                                </p>
                            </div>

                            <div class="content">
                                <h3 class="title" localize-content>News classification</h3>
                                <div class="thumb wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms" style="width: 300px; display: block; margin-left: auto; margin-right: auto;">
                                    <img src="~/intro/images/app/app_news_voted.png" alt="" />
                                </div>
                                <br />
                                <h6 localize-content>Categorized news interface</h6>
                                <p localize-content>
                                    News classification content
                                </p>
                            </div>

                            <div class="content">
                                <h3 class="title" style="font-size: 26px;" localize-content>Search news</h3>
                                <div class="thumb wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms" style="width: 300px; display: block; margin-left: auto; margin-right: auto;">
                                    <img src="~/intro/images/app/app_search.png" alt="" />
                                </div>
                                <p localize-content>Users can search by news name, news content, description</p>
                            </div>

                            <div class="content">
                                <h3 class="title" style="font-size: 26px;" localize-content>Contribute news</h3>
                                <div class="thumb wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms" style="width: 300px; display: block; margin-left: auto; margin-right: auto;">
                                    <img src="~/intro/images/app/app_community.png" alt="" />
                                </div>
                                <br />
                                <h6 localize-content>News contribution interface</h6>
                                <p localize-content>
                                    Contribute news content
                                </p>
                            </div>

                            <div class="content">
                                <h3 class="title" style="font-size: 26px;"></h3>
                                <div class="thumb wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms" style="width: 300px; display: block; margin-left: auto; margin-right: auto;">
                                    <img src="~/intro/images/app/app_setting.png" alt="" />
                                </div>
                                <br />
                                <h6 localize-content>Settings interface, personal page</h6>
                                <p localize-content>
                                    Settings and profile content
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== APPIE SERVICE DETAILS PART ENDS ======-->
    <!--====== APPIE PROJECT PART START ======-->

    <section class="appie-project-area pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="appie-project-box wow animated slideInUp" data-wow-duration="1000ms" data-wow-delay="0ms">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="appie-project-content">
                                    <h3 class="title" data-toc-skip localize-content>Register an account via email</h3>
                                    <p localize-content>We only send you application information via email</p>
                                    <form action="#"  localize-content>
                                        formregister
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="back-to-top">
        <a href="#"><i class="fal fa-arrow-up"></i></a>
    </div>
    <partial name="Footer" />

    <!--====== APPIE PROJECT PART ENDS ======-->
    <!--====== jquery js ======-->
    <script src="~/intro/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/intro/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
    <script src="~/intro/js/bootstrap.min.js"></script>
    <script src="~/intro/js/popper.min.js"></script>
    <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>

    <!--====== wow js ======-->
    <script src="~/intro/js/wow.js"></script>

    <!--====== Slick js ======-->
    <script src="~/intro/js/jquery.counterup.min.js"></script>
    <script src="~/intro/js/waypoints.min.js"></script>

    <!--====== TweenMax js ======-->
    <script src="~/intro/js/TweenMax.min.js"></script>

    <!--====== Slick js ======-->
    <script src="~/intro/js/slick.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="~/intro/js/jquery.magnific-popup.min.js"></script>

    <!--====== Main js ======-->
    <script src="~/intro/js/main.js"></script>
</body>
</html>
