@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!--====== Title ======-->
    <title>OWL Trust - Policy</title>
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="~/intro/images/favicon.png" type="image/png" />

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="~/intro/css/bootstrap.min.css" />

    <link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css" />

    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="~/intro/css/font-awesome.min.css" />

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="~/intro/css/animate.min.css" />

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="~/intro/css/magnific-popup.css" />

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="~/intro/css/slick.css" />

    <!--====== Default css ======-->
    <link rel="stylesheet" href="~/intro/css/custom-animation.css" />
    <link rel="stylesheet" href="~/intro/css/default.css" />

    <!--====== Style css ======-->
    <link rel="stylesheet" href="~/intro/css/style.css" />
</head>

<body data-spy="scroll" data-target="#toc">
    <partial name="Header" />
    <!--====== APPIE SERVICE DETAILS PART ENDS ======-->

    <section class="appie-hero-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-3">
                    <nav id="toc" data-toggle="toc" class="sticky-top">CÁC CHỨC NĂNG</nav>
                </div>
                <div class="col-sm-9">
                    <h2 class="text-center">CÁC CHỨC NĂNG HỆ THỐNG</h2>
                    
                    <div class="row justify-content-center col-lg-12">
                        <div class="service-details-content">

                            <div class="content">
                                <h3 class="title">Khởi động ứng dụng</h3>
                                <div class="thumb wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms" style="width: 300px; display: block; margin-left: auto; margin-right: auto;">
                                    <img src="~/intro/images/app/app_home.png" alt="" />
                                </div>
                                <p class="text-center">Khi đăng nhập vào sẽ thấy icon của hệ thống và xin chào</p>
                            </div>

                            <div class="content">
                                <h3 class="title">Đăng nhập</h3>
                                <div class="thumb wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms" style="width: 300px; display: block; margin-left: auto; margin-right: auto;">
                                    <img src="~/intro/images/app/app_login.png" alt="" />
                                </div>
                                <h6>Người dùng có thể đăng nhập bằng tài khoản đã đăng ký, tài khoản facebook và google.</h6>
                                <p>
                                    &#9642; Khi đăng nhập lần đầu, người phải đăng ký thông tin, thông tin sẽ được lưu lại.<br />
                                    &#9642; Khi đăng nhập bằng tài khoản google, facebook mà trước đó đã có tài khoản sẽ không cần nhập thông tin lại.<br />
                                    &#9642; Khi thoát ứng dụng ra màn hình chính sẽ duy trì đăng nhập, không cần đăng nhập lại.<br />
                                    &#9642; Có thể tùy chỉnh ngôn ngữ hệ thống và ngôn ngữ tin tức ở phía trên bên phải.<br />
                                    &#9642; Chọn đồng ý điều khoản dịch vụ để sử dụng ứng dụng.
                                </p>
                            </div>

                            <div class="content">
                                <h3 class="title">Thay đổi ngôn ngữ</h3>
                                <div class="thumb wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms" style="width: 300px; display: block; margin-left: auto; margin-right: auto;">
                                    <img src="~/intro/images/app/app_change_languages.png" alt="" />
                                </div>
                                <p>
                                    &#9642; Có thể tùy chỉnh ngôn ngữ hệ thống và ngôn ngữ tin tức linh hoạt.<br />
                                    &#9642; Có 2 ngôn ngữ trong hệ thống là Tiếng Anh và Tiếng Việt.<br />
                                    &#9642; Tin tức có 2 ngôn ngữ là Tiếng Anh và Tiếng Việt.<br />
                                    &#9642; Mặc định của hệ thống là tiếng anh.
                                </p>
                            </div>

                            <div class="content">
                                <h3 class="title">Xem các chủ đề tin tức</h3>
                                <div class="thumb wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms" style="width: 300px; display: block; margin-left: auto; margin-right: auto;">
                                    <img src="~/intro/images/app/app_topic.png" alt="" />
                                </div>
                                <br />
                                <h6>Giao diện xem các chủ đề tin tức</h6>
                                <p>
                                    &#9642; Có nhiều chủ đề cho người dùng chọn, có thể chọn nhiều chủ đề.<br />
                                    &#9642; Người dùng có thể thấy được các chủ đề theo ngôn ngữ mà họ đã chọn, khi bấm nút “Khám phá” thì vào trang đăng nhập.<br />
                                    &#9642; Lần đầu tiên đăng nhập, người dùng phải chọn ít nhất 4 chủ đề khác nhau.<br />
                                    &#9642; Người dùng cũng có thể tùy chỉnh ngôn ngữ hệ thống ở đây.
                                </p>
                            </div>

                            <div class="content">
                                <h3 class="title">Đọc tin tức khi chưa đăng nhập</h3>
                                <div class="thumb wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms" style="width: 300px; display: block; margin-left: auto; margin-right: auto;">
                                    <img src="~/intro/images/app/app_new_without_login.png" alt="" />
                                </div>
                                <br />
                                <h6>Giao diện đọc trước tin tức khi chưa đăng nhập</h6>
                                <p>
                                    &#9642; Người dùng có thể xem các tin tức mới nhất của hệ thống.<br />
                                    &#9642; Các tin tức người dùng xem khi chưa đăng nhập là các tin mới và hot nhất trong ngày của nhiều chủ đề khác nhau.
                                </p>
                            </div>

                            <div class="content">
                                <h6 class="title">Theo dõi chủ đề tin tức</h6>
                                <div class="thumb wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms" style="width: 300px; display: block; margin-left: auto; margin-right: auto;">
                                    <img src="~/intro/images/app/app_choose_topic.png" alt="" />
                                </div>
                                <br />
                                <p style="font-weight: bold;">Khi đăng nhập người dùng bắt buộc phải chọn ít nhất 4 chủ đề để có thể đăng nhập và đọc tin tức.</p>
                            </div>

                            <div class="content">
                                <h3 class="title">Xem danh sách tin tức</h3>
                                <div class="thumb wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms" style="width: 300px; display: block; margin-left: auto; margin-right: auto;">
                                    <img src="~/intro/images/app/app_news.png" alt="" />
                                </div>
                                <br />
                                <h6>Giao diện trang chủ đọc tin tức.</h6>
                                <p>
                                    &#9642; Khi đăng nhập xong người dùng có thể đọc tin và bình chọn tin tức đó có đáng tin cậy hay không.<br />
                                    &#9642; Người dùng có thể theo dõi các chủ đề yêu thích và xem các story của các tin tức ở đây.<br />
                                    &#9642; Người dùng có thể xem các thông báo ở chuông phía trên bên phải trang chủ.
                                </p>
                            </div>

                            <div class="content">
                                <h3 class="title">Đọc tin tức</h3>
                                <div class="thumb wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms" style="width: 300px; display: block; margin-left: auto; margin-right: auto;">
                                    <img src="~/intro/images/app/app_newsdetail.png" alt="" />
                                </div>
                                <br />
                                <h6>Giao diện đọc tin tức.</h6>
                                <p>
                                    &#9642; Người dùng có thể đọc, chọn độ tin cậy của tin tức, chia sẻ tin,…<br />
                                    &#9642; Người dùng có thể bình luận trao đổi với nhau về tin tức đó.
                                </p>
                            </div>

                            <div class="content">
                                <h3 class="title">Phân loại tin tức</h3>
                                <div class="thumb wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms" style="width: 300px; display: block; margin-left: auto; margin-right: auto;">
                                    <img src="~/intro/images/app/app_news_voted.png" alt="" />
                                </div>
                                <br />
                                <h6>Giao diện tin tức đã được phân loại.</h6>
                                <p>
                                    &#9642; Các tin tức đã được kiểm duyệt sẽ được hiển thị ở đây.<br />
                                    &#9642; Các tin tức được xác nhận là chính xác sẽ hiện bên ô Tin Thật.<br />
                                    &#9642; Các tin tức được xác nhận là sai sự thật sẽ hiện bên ô Tin Giả.<br />
                                    &#9642; Mọi Người có thể đọc thông báo ở đây bằng cách chọn chuông ở gói phải phía trên trang.
                                </p>
                            </div>

                            <div class="content">
                                <h3 class="title" style="font-size: 26px;">Tìm kiếm tin tức</h3>
                                <div class="thumb wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms" style="width: 300px; display: block; margin-left: auto; margin-right: auto;">
                                    <img src="~/intro/images/app/app_search.png" alt="" />
                                </div>
                                <p>Người dùng có thể tìm kiếm theo tên tin tức, nội dung tin tức, mô tả</p>
                            </div>

                            <div class="content">
                                <h3 class="title" style="font-size: 26px;">Đóng góp tin tức</h3>
                                <div class="thumb wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms" style="width: 300px; display: block; margin-left: auto; margin-right: auto;">
                                    <img src="~/intro/images/app/app_community.png" alt="" />
                                </div>
                                <br />
                                <h6>Giao diện đóng góp tin tức.</h6>
                                <p>
                                    &#9642; Người dùng có thể đóng góp tin tức lên hệ thống, admin sẽ kiểm duyệt và đăng lên hệ thống nếu tin tức hợp lý.<br />
                                    &#9642; Người dùng có thể tìm các tin tức mà người dùng khác đóng góp ở đây.<br />
                                    &#9642; Ở đây sẽ hiện thông tin số bài viết đã đóng góp của người dùng.<br />
                                    &#9642; Người dùng có thể xem hướng dẫn chi tiết ở ô xem hướng dẫn.
                                </p>
                            </div>

                            <div class="content">
                                <h3 class="title" style="font-size: 26px;">Cài đặt và trang cá nhân</h3>
                                <div class="thumb wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms" style="width: 300px; display: block; margin-left: auto; margin-right: auto;">
                                    <img src="~/intro/images/app/app_setting.png" alt="" />
                                </div>
                                <br />
                                <h6>Giao diện cài đặt, trang cá nhân.</h6>
                                <p>
                                    &#9642; Chỉnh sửa thông tin cá nhân của người dùng ở đây.<br />
                                    &#9642; Người dùng có thể tùy chỉnh ngôn ngữ hệ thống và ngôn ngữ tin tức ở đây.<br />
                                    &#9642; Người dùng có thể thay đổi các chủ đề đã theo dõi.<br />
                                    &#9642; Người dùng có thể kết nối các mạng xã hội khác với tài khoản cá nhân.<br />
                                    &#9642; Người dùng có thể xem các thông tin khác về OWL Trust.<br />
                                    &#9642; Người dùng có thể đánh giá chất lượng ứng dụng.<br />
                                    &#9642; Người dùng nếu gặp khó khăn khi sử dụng hệ thống thì có thể sử dụng tính năng giúp đỡ của hệ thống.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== APPIE SERVICE DETAILS PART ENDS ======-->
    <!--====== APPIE PROJECT PART START ======-->

    <section class="appie-project-area pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="appie-project-box wow animated slideInUp" data-wow-duration="1000ms" data-wow-delay="0ms">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="appie-project-content">
                                    <h3 class="title" data-toc-skip>Đăng ký tài khoản qua mail</h3>
                                    <p>Chúng tôi chỉ gửi các thông tin về ứng dụng qua mail cho bạn.</p>
                                    <form action="#">
                                        <div class="input-box mt-30">
                                            <input type="text" placeholder="Email của bạn" />
                                            <button style="white-space: nowrap;">Đăng ký</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="back-to-top">
        <a href="#"><i class="fal fa-arrow-up"></i></a>
    </div>
    <partial name="Footer" />

    <!--====== APPIE PROJECT PART ENDS ======-->
    <!--====== jquery js ======-->
    <script src="~/intro/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/intro/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="~/intro/js/bootstrap.min.js"></script>
    <script src="~/intro/js/popper.min.js"></script>
    <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>

    <!--====== wow js ======-->
    <script src="~/intro/js/wow.js"></script>

    <!--====== Slick js ======-->
    <script src="~/intro/js/jquery.counterup.min.js"></script>
    <script src="~/intro/js/waypoints.min.js"></script>

    <!--====== TweenMax js ======-->
    <script src="~/intro/js/TweenMax.min.js"></script>

    <!--====== Slick js ======-->
    <script src="~/intro/js/slick.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="~/intro/js/jquery.magnific-popup.min.js"></script>

    <!--====== Main js ======-->
    <script src="~/intro/js/main.js"></script>
</body>
</html>
