<header class="appie-header-area appie-sticky">
    <div class="container">
        <div class="header-nav-box">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-4 col-sm-5 col-6 order-1 order-sm-1">
                    <div class="appie-logo-box">
                        <a href="#">
                            <img src="assets/images/logo.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-1 col-sm-1 order-3 order-sm-2">
                    <div class="appie-header-main-menu">
                        <ul>
                            <li>
                                <a asp-action="Index" asp-controller="Home">Trang chủ</a>
                            </li>
                            <li>
                                <a href="#">Hướng dẫn</a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="Privacy">Chính sách</a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="contact">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-6 col-6 order-2 order-sm-3">
                    <div class="appie-btn-box text-right">
                        <a class="main-btn ml-30" href="#">Bắt đầu khám phá</a>
                        <div class="toggle-btn ml-30 canvas_open d-lg-none d-block">
                            <i class="fa fa-bars"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>