<!--====== OFFCANVAS MENU PART START ======-->

<div class="off_canvars_overlay">

</div>
<div class="offcanvas_menu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="offcanvas_menu_wrapper">
                    <div class="canvas_close">
                        <a href="javascript:void(0)"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="offcanvas-brand text-center mb-40">
                        <img src="/intro/images/logo.png" alt="" width="100px" />
                    </div>
                    <div id="menu" class="text-left ">
                        <ul class="offcanvas_main_menu">
                            <li class="menu-item-has-children active">
                                <a asp-controller="Home" asp-action="Index"  localize-content>Home</a>
                            </li>
                            <li class="menu-item-has-children active">
                                <a asp-controller="Home" asp-action="Guide" localize-content>Guide</a>
                            </li>
                            <li class="menu-item-has-children active">
                                <a asp-controller="Home" asp-action="Privacy" localize-content>Privacy</a>
                            </li>
                            <li class="menu-item-has-children active">
                                <a asp-controller="Home" asp-action="Contact" localize-content>Contact</a>
                            </li>
                            
                        </ul>
                    </div>

                    <div class="offcanvas-social">
                        <ul class="text-center">
                            <li><a href="$"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="$"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="$"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="$"><i class="fab fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                    <div class="footer-widget-info">
                        <ul>
                            <li><a href="#"><i class="fal fa-envelope"></i> khuyenpb@gmail.com</a></li>
                            <li><a href="#"><i class="fal fa-phone"></i> +(84) 333 093 935</a></li>
                            <li><a href="#"><i class="fal fa-map-marker-alt"></i> TP.HCM City, VIETNAM </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--====== OFFCANVAS MENU PART ENDS ======-->

<header class="appie-header-area appie-sticky">
    <div class="container">
        <div class="header-nav-box">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-4 col-sm-5 col-6 order-1 order-sm-1">
                    <div class="appie-logo-box text-center">
                        <a href="#">
                            <img src="/intro/images/logo.png" alt="" />
                            <h7>Owl Trust</h7>
                        </a>

                    </div>
                </div>
                <div class="col-lg-5 order-sm-2">
                    <div class="appie-header-main-menu">
                        <ul>
                            <li>
                                <a asp-controller="Home" asp-action="Index" localize-content>Home</a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="Guide" localize-content>Guide</a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="Privacy" localize-content>Privacy</a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="Contact" localize-content>Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="order-sm-3">
                    <div class="appie-btn-box text-right">
                        <a class="main-btn mr-40" href="#">Khám phá ngay</a>
                        <div class="toggle-btn ml-30 canvas_open d-lg-none d-block">
                            <i class="fa fa-bars"></i>
                        </div>
                    </div>
                </div>
                <div class="order-sm-4 ml-30">
                    <language-nav flags="true" language-label="NativeName"
                                  cookie-handler-url="@(Url.Action("SetCultureCookie", "Home", new { area = "", cltr = "{0}", returnUrl = "{1}" }))">

                    </language-nav>
                </div>
            </div>
        </div>
    </div>
</header>