@model List<FakeNewsFilter.ViewModel.Catalog.NewsManage.NewsViewModel>?

<section class="heading-news">

<div class="iso-call heading-news-box">

@for (var i = 0; i < 6; i++)
{
    <div class="news-post image-post">
        <img src="upload/news-posts/h3.jpg" alt="">
        <div class="hover-box">
            <div class="inner-hover">
                <a class="category-post food" href="food.html">food &amp; Health</a>
                <h2>
                    <a href="single-post.html">@Model[i].Title</a>
                </h2>
                <ul class="post-tags">
                    <li>
                        <i class="fa fa-clock-o"></i><span>@Model[i].Timestamp.ToString("MM/dd/yyyy")</span>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-comments-o"></i><span>20</span>
                        </a>
                    </li>
                </ul>
                <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
            </div>
        </div>
    </div>
}

@* <div class="news-post image-post default-size"> *@
@*     <img src="upload/news-posts/h1.jpg" alt=""> *@
@*     <div class="hover-box"> *@
@*         <div class="inner-hover"> *@
@*             <a class="category-post travel" href="travel.html">Travel</a> *@
@*             <h2> *@
@*                 <a href="single-post.html">Lorem ipsum dolor sit amet, consectetuer</a> *@
@*             </h2> *@
@*             <ul class="post-tags"> *@
@*                 <li> *@
@*                     <i class="fa fa-clock-o"></i><span>27 may 2013</span> *@
@*                 </li> *@
@*                 <li> *@
@*                     <a href="#"> *@
@*                         <i class="fa fa-comments-o"></i><span>23</span> *@
@*                     </a> *@
@*                 </li> *@
@*             </ul> *@
@*             <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p> *@
@*         </div> *@
@*     </div> *@
@* </div> *@

@* <div class="image-slider snd-size"> *@
@*     <span class="top-stories">TOP STORIES</span> *@
@*     <ul class="bxslider"> *@
@*         <li> *@
@*             <div class="news-post image-post"> *@
@*                 <img src="upload/news-posts/h2.jpg" alt=""> *@
@*                 <div class="hover-box"> *@
@*                     <div class="inner-hover"> *@
@*                         <a class="category-post world" href="world.html">Business</a> *@
@*                         <h2> *@
@*                             <a href="single-post.html">Franca do të bashkëpunojë me Kosovën në ekonomi. </a> *@
@*                         </h2> *@
@*                         <ul class="post-tags"> *@
@*                             <li><i class="fa fa-clock-o"></i>27 may 2013</li> *@
@*                             <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li> *@
@*                             <li> *@
@*                                 <a href="#"> *@
@*                                     <i class="fa fa-comments-o"></i><span>23</span> *@
@*                                 </a> *@
@*                             </li> *@
@*                             <li><i class="fa fa-eye"></i>872</li> *@
@*                         </ul> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*         </li> *@
@*         <li> *@
@*             <div class="news-post image-post"> *@
@*                 <img src="upload/news-posts/h7.jpg" alt=""> *@
@*                 <div class="hover-box"> *@
@*                     <div class="inner-hover"> *@
@*                         <a class="category-post sport" href="sport.html">Sport</a> *@
@*                         <h2> *@
@*                             <a href="single-post.html">Phasellus ultrices nulla quis nibh. Quisque a lectus. </a> *@
@*                         </h2> *@
@*                         <ul class="post-tags"> *@
@*                             <li><i class="fa fa-clock-o"></i>27 may 2013</li> *@
@*                             <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li> *@
@*                             <li> *@
@*                                 <a href="#"> *@
@*                                     <i class="fa fa-comments-o"></i><span>23</span> *@
@*                                 </a> *@
@*                             </li> *@
@*                             <li><i class="fa fa-eye"></i>872</li> *@
@*                         </ul> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*         </li> *@
@*         <li> *@
@*             <div class="news-post image-post"> *@
@*                 <img src="upload/news-posts/h4.jpg" alt=""> *@
@*                 <div class="hover-box"> *@
@*                     <div class="inner-hover"> *@
@*                         <a class="category-post sport" href="sport.html">sport</a> *@
@*                         <h2> *@
@*                             <a href="single-post.html">Donec odio. Quisque volutpat mattis eros. </a> *@
@*                         </h2> *@
@*                         <ul class="post-tags"> *@
@*                             <li><i class="fa fa-clock-o"></i>27 may 2013</li> *@
@*                             <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li> *@
@*                             <li> *@
@*                                 <a href="#"> *@
@*                                     <i class="fa fa-comments-o"></i><span>23</span> *@
@*                                 </a> *@
@*                             </li> *@
@*                             <li><i class="fa fa-eye"></i>872</li> *@
@*                         </ul> *@
@*                         <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*         </li> *@
@*     </ul> *@
@* </div> *@

@* <div class="news-post image-post"> *@
@*     <img src="upload/news-posts/h3.jpg" alt=""> *@
@*     <div class="hover-box"> *@
@*         <div class="inner-hover"> *@
@*             <a class="category-post food" href="food.html">food &amp; Health</a> *@
@*             <h2> *@
@*                 <a href="single-post.html">Nullam malesuada erat ut turpis.</a> *@
@*             </h2> *@
@*             <ul class="post-tags"> *@
@*                 <li> *@
@*                     <i class="fa fa-clock-o"></i><span>27 may 2013</span> *@
@*                 </li> *@
@*                 <li> *@
@*                     <a href="#"> *@
@*                         <i class="fa fa-comments-o"></i><span>20</span> *@
@*                     </a> *@
@*                 </li> *@
@*             </ul> *@
@*             <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
@* *@
@* <div class="news-post image-post"> *@
@*     <img src="upload/news-posts/h1.jpg" alt=""> *@
@*     <div class="hover-box"> *@
@*         <div class="inner-hover"> *@
@*             <a class="category-post travel" href="travel.html">Travel</a> *@
@*             <h2> *@
@*                 <a href="single-post.html">Lorem ipsum dolor sit amet, consectetuer</a> *@
@*             </h2> *@
@*             <ul class="post-tags"> *@
@*                 <li> *@
@*                     <i class="fa fa-clock-o"></i><span>27 may 2013</span> *@
@*                 </li> *@
@*                 <li> *@
@*                     <a href="#"> *@
@*                         <i class="fa fa-comments-o"></i><span>23</span> *@
@*                     </a> *@
@*                 </li> *@
@*             </ul> *@
@*             <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
@* *@
@* <div class="news-post image-post"> *@
@*     <img src="upload/news-posts/h5.jpg" alt=""> *@
@*     <div class="hover-box"> *@
@*         <div class="inner-hover"> *@
@*             <a class="category-post sport" href="sport.html">sport</a> *@
@*             <h2> *@
@*                 <a href="single-post.html">Donec odio. </a> *@
@*             </h2> *@
@*             <ul class="post-tags"> *@
@*                 <li> *@
@*                     <i class="fa fa-clock-o"></i><span>27 may 2013</span> *@
@*                 </li> *@
@*                 <li> *@
@*                     <a href="#"> *@
@*                         <i class="fa fa-comments-o"></i><span>23</span> *@
@*                     </a> *@
@*                 </li> *@
@*             </ul> *@
@*             <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
@* *@
@* <div class="news-post image-post"> *@
@*     <img src="upload/news-posts/h6.jpg" alt=""> *@
@*     <div class="hover-box"> *@
@*         <div class="inner-hover"> *@
@*             <a class="category-post fashion" href="fashion.html">fashion</a> *@
@*             <h2> *@
@*                 <a href="single-post.html">Quisque volutpat mattis </a> *@
@*             </h2> *@
@*             <ul class="post-tags"> *@
@*                 <li> *@
@*                     <i class="fa fa-clock-o"></i><span>27 may 2013</span> *@
@*                 </li> *@
@*                 <li> *@
@*                     <a href="#"> *@
@*                         <i class="fa fa-comments-o"></i><span>23</span> *@
@*                     </a> *@
@*                 </li> *@
@*             </ul> *@
@*             <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
@* *@
@* <div class="news-post image-post"> *@
@*     <img src="upload/news-posts/h5.jpg" alt=""> *@
@*     <div class="hover-box"> *@
@*         <div class="inner-hover"> *@
@*             <a class="category-post sport" href="sport.html">sport</a> *@
@*             <h2> *@
@*                 <a href="single-post.html">Donec odio. </a> *@
@*             </h2> *@
@*             <ul class="post-tags"> *@
@*                 <li> *@
@*                     <i class="fa fa-clock-o"></i><span>27 may 2013</span> *@
@*                 </li> *@
@*                 <li> *@
@*                     <a href="#"> *@
@*                         <i class="fa fa-comments-o"></i><span>23</span> *@
@*                     </a> *@
@*                 </li> *@
@*             </ul> *@
@*             <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
@* *@
@* <div class="news-post image-post"> *@
@*     <img src="upload/news-posts/h6.jpg" alt=""> *@
@*     <div class="hover-box"> *@
@*         <div class="inner-hover"> *@
@*             <a class="category-post fashion" href="fashion.html">fashion</a> *@
@*             <h2> *@
@*                 <a href="single-post.html">Quisque volutpat mattis </a> *@
@*             </h2> *@
@*             <ul class="post-tags"> *@
@*                 <li> *@
@*                     <i class="fa fa-clock-o"></i><span>27 may 2013</span> *@
@*                 </li> *@
@*                 <li> *@
@*                     <a href="#"> *@
@*                         <i class="fa fa-comments-o"></i><span>23</span> *@
@*                     </a> *@
@*                 </li> *@
@*             </ul> *@
@*             <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
@* *@
@* <div class="news-post image-post"> *@
@*     <img src="upload/news-posts/h3.jpg" alt=""> *@
@*     <div class="hover-box"> *@
@*         <div class="inner-hover"> *@
@*             <a class="category-post food" href="food.html">food &amp; Health</a> *@
@*             <h2> *@
@*                 <a href="single-post.html">Nullam malesuada erat ut turpis.</a> *@
@*             </h2> *@
@*             <ul class="post-tags"> *@
@*                 <li> *@
@*                     <i class="fa fa-clock-o"></i><span>27 may 2013</span> *@
@*                 </li> *@
@*                 <li> *@
@*                     <a href="#"> *@
@*                         <i class="fa fa-comments-o"></i><span>20</span> *@
@*                     </a> *@
@*                 </li> *@
@*             </ul> *@
@*             <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p> *@
@*         </div> *@
@*     </div> *@
@* </div> *@

</div>

</section>
