@{
    var culture = CultureInfo.CurrentCulture.Name;
}

@{ Layout = null; }

<!doctype html>
<html lang="en">

<head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title localize-content>App Full Name</title>
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="~/intro/images/logo/logo_OWL_NoText-05.svg" type="image/png" />

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="~/intro/css/bootstrap.min.css" />

    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="~/intro/css/font-awesome.min.css" />

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="~/intro/css/animate.min.css" />

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="~/intro/css/magnific-popup.css" />

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="~/intro/css/slick.css" />

    <!--====== Default css ======-->
    <link rel="stylesheet" href="~/intro/css/custom-animation.css" />
    <link rel="stylesheet" href="~/intro/css/default.css" />

    <!--====== Style css ======-->
    <link rel="stylesheet" href="~/intro/css/style.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/css/flag-icon.min.css" />
    <!--====== PART START ======-->
</head>
<!--====== PART ENDS ======-->
<!--====== APPIE HERO PART START ======-->
<body>

    <partial name="Header" />

    <section class="appie-hero-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="appie-hero-content">
                        <span localize-content>Welcome to OWL Trust</span>
                        <h1 class="appie-title" localize-content>Reliable news reading application</h1>
                        <p localize-content>Welcome content</p>
                        <ul>
                            <li>
                                <a href="#" target="_blank" localize-content>Download the app on iOS</a>
                            </li>
                            <li>
                                <a class="item-2" href="https://play.google.com/store/apps/details?id=com.owl_trust" target="_blank" localize-content>Download the app on Android</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="appie-hero-thumb">
                        <div class="thumb wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms" style="width: 300px;">
                            <img src="~/intro/images/app/app_home.png" alt="" />
                        </div>
                        <div class="thumb-2 wow animated fadeInLeft" data-wow-duration="2000ms" data-wow-delay="600ms" style="width: 200px; margin-right: 200px; margin-top: -90px;">
                            <img src="~/intro/images/app/app_intro.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-shape-1">
            <img src="~/intro/images/shape/shape-2.png" alt="" />
        </div>
        <div class="hero-shape-2">
            <img src="~/intro/images/shape/shape-3.png" alt="" />
        </div>
        <div class="hero-shape-3">
            <img src="~/intro/images/shape/shape-4.png" alt="" />
        </div>
    </section>

    <!--====== APPIE HERO PART ENDS ======-->
    <!--====== APPIE SERVICES PART START ======-->

    <section class="appie-service-area pt-90 pb-100" id="service">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="appie-section-title text-center">
                        <h3 class="appie-title">
                            <h3 localize-content>The advantages of</h3>
                            <h3>OWL Trust</h3>
                        </h3>
                        <p localize-content>OWL Trust brings great experiences to users</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="appie-single-service text-center mt-30 wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms" style="height: 300px;">
                        <div class="icon">
                            <img src="~/intro/images//icon-intro/languages.png" alt="" />
                            @* <span>1</span>*@
                        </div>
                        <h4 class="appie-title" localize-content>Language</h4>
                        <p localize-content>Multi-language system</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="appie-single-service text-center mt-30 item-2 wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="400ms" style="height: 300px;">
                        <div class="icon">
                            <img src="~/intro/images//icon-intro/news.png" alt="" />
                            @* <span>2</span>
                            *@
                        </div>
                        <h4 class="appie-title" localize-content>News</h4>
                        <p localize-content>Diverse, complete and accurate news</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="appie-single-service text-center mt-30 item-3 wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="600ms" style="height: 300px;">
                        <div class="icon">
                            <img src="~/intro/images//icon-intro/vote.png" alt="" />
                            @* <span>3</span>
                            *@
                        </div>
                        <h4 class="appie-title" localize-content>evaluation</h4>
                        <p localize-content>Real and fake news rating system</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="appie-single-service text-center mt-30 item-4 wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="800ms" style="height: 300px;">
                        <div class="icon">
                            <img src="~/intro/images/icon-intro/cross-plat.png" alt="" />
                            @* <span>4</span>
                            *@
                        </div>
                        <h4 class="appie-title" localize-content>Multi-platform</h4>
                        <p localize-content>News can be viewed on many different platforms such as Web, Android, iOS</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== APPIE SERVICES PART ENDS ======-->
    <!--====== APPIE FEATURES PART START ======-->

    <section class="appie-features-area pt-100" id="features">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="appie-features-tabs-btn">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true" localize-content>topic index</a>
                            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false" localize-content>topic news</a>
                            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false" localize-content>topic community</a>
                            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false" localize-content>topic setting</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="appie-features-thumb text-center wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms">
                                        <img src="~/intro/images/app/app_topic.png" alt="" style="width: 260px;" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="appie-features-content wow animated fadeInRight" data-wow-duration="2000ms" data-wow-delay="600ms">
                                        
                                       <span localize-content>Topic</span>
                                        <h3 class="title" localize-content>
                                            <h2 localize-content>Topics in</h2>
                                            <h2>OWL Trust</h2>
                                        </h3>
                                        <p localize-content>OWL Trust has a diverse topic system covering many different fields and languages</p>
                                        <a class="main-btn" href="#" localize-content>Detail</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="appie-features-thumb text-center animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms">
                                        <img src="~/intro/images/app/app_news.png" alt="" style="width: 260px;" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="appie-features-content animated fadeInRight" data-wow-duration="2000ms" data-wow-delay="600ms">
                                        <span localize-content>News</span>
                                        <h3 class="title" localize-content>
                                            <h2 localize-content>News in</h2>
                                            <h2>OWL Trust</h2>
                                        </h3>
                                        <p localize-content>OWL Trust has a diverse news system covering many different areas and languages and is labeled as true or fake news</p>
                                        <a class="main-btn" href="#" localize-content>Detail</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="appie-features-thumb text-center animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms">
                                        <img src="~/intro/images/app/app_community.png" alt="" style="width: 260px;" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="appie-features-content animated fadeInRight" data-wow-duration="2000ms" data-wow-delay="600ms">
                                        <span localize-content>Community</span>
                                        <h3 class="title">
                                            <h2 localize-content>Community in</h2>
                                            <h2>OWL Trust</h2>
                                        </h3>
                                        <p localize-content>The community helps app users to share news on the app for other users to evaluate</p>
                                        <a class="main-btn" href="#" localize-content>Detail</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="appie-features-thumb text-center animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms">
                                        <img src="~/intro/images/app/app_setting.png" alt="" style="width: 260px;" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="appie-features-content animated fadeInRight" data-wow-duration="2000ms" data-wow-delay="600ms">
                                        <span localize-content>Setting</span>
                                        <h3 class="title" localize-content>
                                            <h2 localize-content>Setting in</h2>
                                            <h2>OWL Trust</h2>
                                        </h3>
                                        <p localize-content>Users can customize favorite themes, languages and accounts</p>
                                        <a class="main-btn" href="#" localize-content>Detail</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="features-shape-1">
            <img src="~/intro/images/shape/shape-6.png" alt="" />
        </div>
        <div class="features-shape-2">
            <img src="~/intro/images/shape/shape-7.png" alt="" />
        </div>
        <div class="features-shape-3">
            <img src="~/intro/images/shape/shape-8.png" alt="" />
        </div>
    </section>

    <!--====== APPIE FEATURES PART ENDS ======-->
    <!--====== APPIE TRAFFIC PART START ======-->

    <section class="appie-traffic-area pt-140 pb-180">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="appie-traffic-title">
                        @*<span>Traffic</span>*@
                        <h3 class="title" localize-content>News interface on OWLTRUST.TK</h3>
                        <p localize-content>Can read news on website with many advantages</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="appie-traffic-service mb-30">
                                <div class="icon">
                                    <i class="fal fa-check"></i>
                                </div>
                                <h5 class="title" localize-content>Friendly interface</h5>
                                <p localize-content>The website interface helps new users to read the news easily and friendly</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="appie-traffic-service item-2 mb-30">
                                <div class="icon">
                                    <i class="fal fa-check"></i>
                                </div>
                                <h5 class="title" localize-content>No need to install</h5>
                                <p localize-content>No need to install apps</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="appie-traffic-service item-3">
                                <div class="icon">
                                    <i class="fal fa-check"></i>
                                </div>
                                <h5 class="title" localize-content>flexible</h5>
                                <p localize-content>Can login with different social media accounts</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="appie-traffic-service item-4">
                                <div class="icon">
                                    <i class="fal fa-check"></i>
                                </div>
                                <h5 class="title" localize-content>Fast</h5>
                                <p localize-content>Makes finding news quick and easy</p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="traffic-btn mt-50">
                                <a class="main-btn" href="#" localize-content>see more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="traffic-thumb">
            <img class="wow animated fadeInRight" data-wow-duration="2000ms" data-wow-delay="200ms" src="~/intro/images/web/pic_web_home.png" alt="" />
        </div>
    </section>

    <!--====== APPIE TRAFFIC PART ENDS ======-->
    <!--====== APPIE TESTIMONIAL PART START ======-->

    <section class="appie-testimonial-area pt-100 pb-160" id="testimonial">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="appie-testimonial-slider">
                        <div class="appie-testimonial-item text-center">
                            <div class="author-info">
                                <img src="~/intro/images/avatar/avatar_tthtrang.jpg" alt="" style="width: 80px;" />
                                <h5 class="title">Trần Thị Huyền Trang</h5>
                            </div>
                            <div class="text">
                                <p localize-content>This is the best app I've ever used</p>
                                <ul>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="appie-testimonial-item text-center">
                            <div class="author-info">
                                <img src="~/intro/images/avatar/avatar_nphnam.jpg" alt="" style="width: 80px;" />
                                <h5 class="title">Nguyễn Phạm Hải Nam</h5>
                            </div>
                            <div class="text">
                                <p localize-content>It's an honor to use this app</p>
                                <ul>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="appie-testimonial-item text-center">
                            <div class="author-info">
                                <img src="~/intro/images/avatar/avatar_tsuong.jpg" alt="" style="width: 80px;" />
                                <h5 class="title">Thu Sương</h5>
                            </div>
                            <div class="text">
                                <p localize-content>I'm very grateful to the creator of this app, it's amazing</p>
                                <ul>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== APPIE TESTIMONIAL PART ENDS ======-->
    <!--====== APPIE TEAM PART START ======-->

    <section class="appie-team-area pt-90 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="appie-section-title text-center">
                        <h3 class="appie-title" localize-content>Founding member</h3>
                        <p localize-content>App Founding Member</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="appie-team-item mt-30 wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms">
                        <div class="thumb">
                            <img src="~/intro/images/avatar/avatar_bpkhuyen.jpg" alt="" style="width: 500px; height: 340px;" />
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/buiphukhuyen"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/buiphukhuyen/"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="content text-center">
                            <h5 class="title">Bùi Phú Khuyên</h5>
                            <span>CEO-Founder, Mentor, Developer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="appie-team-item mt-30 wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="400ms">
                        <div class="thumb">
                            <img src="~/intro/images/avatar/avatar_hhkhanh.png" alt="" style="width: 500px; height: 340px;" />
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/hkhansh27"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/hkhansh27"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/hkhansh27/"><i class="fab fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="content text-center">
                            <h5 class="title">Huỳnh Hữu Khánh</h5>
                            <span>CO-Founder, Developer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="appie-team-item mt-30 wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="600ms">
                        <div class="thumb">
                            <img src="~/intro/images/avatar/avatar_lxthanh.png" alt="" style="width: 500px; height: 340px;" />
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/lxthanh269/"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/xuta269/"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/le-xuan-thanh/"><i class="fab fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="content text-center">
                            <h5 class="title">Lê Xuân Thành</h5>
                            <span>CO-Founder, Developer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== APPIE FAQ PART START ======-->

    <section class="appie-faq-area pb-95">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="appie-section-title text-center">
                        <h3 class="appie-title" localize-content>frequently asked Questions</h3>
                        <p localize-content>Answer user questions about the application</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="faq-accordion wow fadeInRight mt-30" data-wow-duration="1500ms">
                        <div class="accrodion-grp wow fadeIn" data-wow-duration="1500ms" data-grp-name="faq-accrodion">
                            <div class="accrodion active">
                                <div class="accrodion-inner">
                                    <div class="accrodion-title">
                                        <h4 localize-content>Questions are being updated</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p localize-content>We will update as soon as possible</p>
                                        </div>
                                        <!-- /.inner -->
                                    </div>
                                </div>
                                <!-- /.accrodion-inner -->
                            </div>
                            <div class="accrodion">
                                <div class="accrodion-inner">
                                    <div class="accrodion-title">
                                        <h4 localize-content>Questions are being updated</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p localize-content>We will update as soon as possible</p>
                                        </div>
                                        <!-- /.inner -->
                                    </div>
                                </div>
                                <!-- /.accrodion-inner -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="faq-accordion wow fadeInRight mt-30" data-wow-duration="1500ms">
                        <div class="accrodion-grp wow fadeIn" data-wow-duration="1500ms" data-grp-name="faq-accrodion">
                            <div class="accrodion">
                                <div class="accrodion-inner">
                                    <div class="accrodion-title">
                                        <h4 localize-content>Questions are being updated</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p localize-content>We will update as soon as possible!</p>
                                        </div>
                                        <!-- /.inner -->
                                    </div>
                                </div>
                                <!-- /.accrodion-inner -->
                            </div>
                            <div class="accrodion">
                                <div class="accrodion-inner">
                                    <div class="accrodion-title">
                                        <h4 localize-content>Questions are being updated</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p localize-content>We will update as soon as possible!</p>
                                        </div>
                                        <!-- /.inner -->
                                    </div>
                                </div>
                                <!-- /.accrodion-inner -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="faq-text text-center pt-40">
                        <p localize-content>Can't find your question</p>
                        <a href="thanh26092000@gmail.com" localize-content>Email us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== APPIE PROJECT PART START ======-->

    <section class="appie-project-area pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="appie-project-box wow animated slideInUp" data-wow-duration="1000ms" data-wow-delay="0ms">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="appie-project-content">
                                    <h3 class="title" localize-content>Sign up for an account via email</h3>
                                    <p localize-content>We only send application information via email to you.</p>
                                    <form action="#"  localize-content>
                                        formregister
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <partial name="Footer" />

    <div class="back-to-top">
        <a href="#"><i class="fal fa-arrow-up"></i></a>
    </div>
    <!--====== APPIE BACK TO TOP PART ENDS ======-->
    <!--====== APPIE BACK TO TOP PART ENDS ======-->
    <!--====== jquery js ======-->
    <script src="~/intro/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/intro/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
    <script src="~/intro/js/bootstrap.min.js"></script>

    <!--====== wow js ======-->
    <script src="~/intro/js/wow.js"></script>

    <!--====== Slick js ======-->
    <script src="~/intro/js/jquery.counterup.min.js"></script>
    <script src="~/intro/js/waypoints.min.js"></script>

    <!--====== TweenMax js ======-->
    <script src="~/intro/js/TweenMax.min.js"></script>

    <!--====== Slick js ======-->
    <script src="~/intro/js/slick.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="~/intro/js/jquery.magnific-popup.min.js"></script>

    <!--====== Main js ======-->
    <script src="~/intro/js/main.js"></script>
</body>

</html>