@{ Layout = null; }

<!doctype html>
<html lang="en">

<head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>OWL Trust - Policy</title>
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="~/intro/images/favicon.png" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="~/intro/css/bootstrap.min.css">

    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="~/intro/css/font-awesome.min.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="~/intro/css/animate.min.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="~/intro/css/magnific-popup.css">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="~/intro/css/slick.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="~/intro/css/custom-animation.css">
    <link rel="stylesheet" href="~/intro/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="~/intro/css/style.css">

</head>

<body>

    <partial name="Header" />

    <!--====== APPIE SERVICE DETAILS PART ENDS ======-->

    <section class="appie-hero-area">
        <div class="container">
            <div class="row">
                <div class="row justify-content-center">
                    <h1>CHÍNH SÁCH QUYỀN RIÊNG TƯ</h1>
                    <div class="service-details-content">
                        <div class="content">
                            <h3 class="title">Cam kết</h3>
                            <p>Tại Owl Trust – Fake News Filter chúng tôi hiểu rằng sự riêng tư là rất quan trọng đối với bạn và các khách hàng của bạn. Những điều khoản bảo bảo mật này phản ánh được sự tôn trọng của chúng tôi đối với quyền riêng tư của bạn và Owl Trust cam kết đảm bảo bảo mật cho tất cả thông tin của bạn.</p>
                        </div>
                        <div class="content">
                            <h3 class="title">Ứng dụng</h3>
                            <p>Những điều khoản bảo mật này áp dụng cho tất cả các thông tin cá nhân nhập vào của khách hàng của Owl Trust – Fake News Filter trên website Owl Trust hoặc nhập vào ứng dụng Owl Trust thông qua các thiết bị di động (cùng với ứng dụng nền của Owl Trust).</p>
                        </div>
                        <div class="content">
                            <h3 class="title">Thông tin cá nhân</h3>
                            <p>Để sử dụng ứng dụng nền Owl Trust – Fake News Filter, tất cả khách hàng đều cần phải gửi một số thông tin cá nhân như địa chỉ email, tên, địa chỉ, số điện thoại, ngành và thông tin nhất định của công ty. Khách hàng có thể được yêu cầu cung cấp thêm thông tin theo thời gian khi họ tiếp tục sử dụng phần mềm.</p>
                        </div>
                        <div class="content">
                            <h3 class="title">Riêng tư và tài khoản của bạn</h3>
                            <p>Dữ liệu đăng ký và các thông tin khác phải tuân theo Chính sách Bảo mật của chúng tôi. Thông tin của bạn có thể được lưu trữ và xử lý tại Hoa Kỳ hoặc bất kỳ quốc gia nào khác nơi Owl Trust có cơ sở vật chất và bằng cách sử dụng Dịch vụ trực tuyến, bạn đồng ý chuyển thông tin ra bên ngoài quốc gia của bạn. Nếu bạn truy cập Dịch vụ bằng mật khẩu, bạn tự chịu trách nhiệm duy trì tính bảo mật của mật khẩu đó. Nếu bạn cung cấp cho người khác quyền truy cập vào mật khẩu của bạn vào Dịch vụ, họ sẽ có thể xem thông tin về tài khoản của bạn và thực hiện các thay đổi thông qua Ứng dụng hoặc Trang web cho Dịch vụ. Tương tự như vậy, nếu bạn cung cấp cho một ai đó tính năng mẫu khóa cho một Dịch vụ, họ sẽ có thể yêu cầu thông tin về tài khoản của bạn và thay đổi thông qua Dịch vụ Khách hàng. Bạn đồng ý sẽ thông báo cho chúng tôi ngay lập tức nếu bạn thay đổi địa chỉ email để chúng tôi có thể tiếp tục liên lạc với bạn và gửi bất kỳ thông báo yêu cầu dưới đây. Nếu bạn không thông báo cho chúng tôi kịp thời về thay đổi, thì mọi thông báo chúng tôi gửi đến địa chỉ email cũ của bạn sẽ được coi là thông báo đầy đủ.</p>
                        </div>
                        <div class="content">
                            <h3 class="title">Công dụng của thông tin và tài liệu</h3>
                            <p>Thông tin cá nhân mà khách hàng đã cung cấp sẽ chỉ được sử dụng trong việc kết nối với dịch vụ đã được yêu cầu bởi Owl Trust, để trò chuyện cùng với khách hàng liên quan đến dịch vụ hoặc hợp tác với các ngành công nghiệp chính phủ hoặc những người có thẩm quyền. Owl Trust lưu trữ chính xác để sử dụng dữ liệu có liên quan tới việc sử dụng dịch vụ của khách hàng để quảng bá hoạc cho các mục đích kinh doanh thông min khác. Nhân viên của Owl Trust có thể truy cập vào các thông tin hữu ích và thống kê giao dịch để có thể hiểu hơn cách khách hàng sử dụng ứng dụng nền của Owl Trust, vì vậy chúng tôi có thể cải thiện hệ thống thiết kế, đánh giá, cũng như đưa ra các lời khuyên để thay đổi cách dùng ứng dụng nền Owl Trust của họ.</p>
                        </div>
                        <div class="content">
                            <h3 class="title">Giấy chấp thuận</h3>
                            <p>Bằng việc truy cập vào ứng dụng nền Owl Trust, tất cả các khách hàng đều chấp thuận vào bộ sưu tập, sử dụng, hiệp định, lưu trữ và xử lý thông tin của họ cho phù hợp với Điều khoản bảo mật.</p>
                        </div>
                        <div class="content">
                            <h3 class="title">Tiết lộ thông tin</h3>
                            <p>Owl Trust sẽ không tiết lộ bất cứ thông tin cá nhân nào của khách hàng cho bên thứ ba trừ khi là nơi mà sự tiết lộ liên quan đến mục đích của thông tĩn đã thu thập (Như đã nói ở đoạn 4 ở trên) trừ không có sự cho phép bởi chính khách hàng đó.</p>
                        </div>
                        <div class="content">
                            <h3 class="title">Chấp thuận và cập nhật thông tin</h3>
                            <p>Khách hàng có thể yêu cầu bất kỳ lúc nào để xem thông tin cá nhân mà Owl Trust lưu trữ hoặc chỉnh sửa hoặc cập nhật bất cứ thông tin cá nhân nào. Hãy vui lòng gửi email cho Owl Trust tại khuyenpb@gmail.com.</p>
                        </div>
                        <div class="content">
                            <h3 class="title">Tin tức</h3>
                            <p>Owl Trust gửi thông tin thanh toán, thông tin sản phẩm, bản tin và thông báo cho bạn thông qua email và trong một số trường hợp xảy ra bên trong ứng dụng nền dịch vụ tin nhắn của Owl Trust. Trường hợp email thích hợp hoặc trong giao tiếp nền sẽ có chứa các hướng dẫn mô tả cách làm thế nào bạn có thể lựa chọn được loại bỏ khỏi danh sách gửi thư.</p>
                        </div>
                        <div class="content">
                            <h3 class="title">Kho chứa thông tin</h3>
                            <p>Owl Trust sẽ lưu giữ an toàn các thông tin cá nhân của khách hàng ở Hoa Kỳ hoặc bất kì quốc gia nào khác mà Owl Trust có thể lựa chon theo thời gian để cung cấp các dịch vụ của mình.</p>
                        </div>
                        <div class="content">
                            <h3 class="title">Lưu trữ</h3>
                            <p>Owl Trust sẽ lưu trữ lại thông tin cá nhân của khác hàng trước và sau khi hủy bất cứ một tài khoản nào nhưng chỉ dùng khi Owl Trust bắt buộc dùng tới một cách hợp pháp.</p>
                        </div>
                        <div class="content">
                            <h3 class="title">Cookies</h3>
                            <p>Owl Trust sử dụng bên thứ ba cho chiến dịch quảng cáo và quảng cáo theo đuôi, dữ liệu được thu thập thông qua quảng cáo và quảng cáo theo đuôi . Quảng cáo cookie được lưu trữ trong trình duyệt của bạn và cung cấp cho bên thứ ba dữ liệu để quảng cáo có liên quan hơn cho khách truy cập vào trang web của chúng tôi và tránh các quảng cáo hiển thị đã được nhìn thấy. Đây là dựa theo lịch sử web trước đó của bạn. Quảng cáo theo đuôi cookie cung cấp dữ liệu để hiển thị quảng cáo thông qua trang web thứ ba dựa trên tương tác trước đó của bạn với trang web Owl Trust. Tùy chọn không tham gia có sẵn, và nếu tại bất kì thời điểm nào bạn muốn chọn không tham gia các tính năng này, hãy truy cập vào các lựa chọn không tham gia, để biết thêm thông tin.</p>
                        </div>
                        <div class="content">
                            <h3 class="title">Thay đổi chính sách riêng tư</h3>
                            <p>Owl Trust có thể sửa đổi hoặc cập nhật Chính sách Bảo mật này theo thời gian, mà có thể không cần thông báo cho khách hàng Owl Trust. Tất cả các khách hàng đều đồng ý chịu ràng buộc bởi Chính sách Bảo mật có hiệu lực vào thời điểm họ truy cập trang web Owl Trust và/hoặc sử dụng phần mềm thông qua thiết bị điện thoại.</p>
                        </div>
                        <div class="content">
                            <h3 class="title">Điều khoản sử dụng</h3>
                            <p>Cách sử dụng của phần mềm Owl Trust phải tuân theo Các điều kiện và điều khoản và Chính sách Bảo mật này phải được đọc cùng.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== APPIE SERVICE DETAILS PART ENDS ======-->
    <!--====== APPIE PROJECT PART START ======-->

    <section class="appie-project-area pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="appie-project-box wow animated slideInUp" data-wow-duration="1000ms" data-wow-delay="0ms">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="appie-project-content">
                                    <h3 class="title">Đăng ký tài khoản qua mail</h3>
                                    <p>Chúng tôi chỉ gửi các thông tin về ứng dụng qua mail cho bạn.</p>
                                    <form action="#">
                                        <div class="input-box mt-30">
                                            <input type="text" placeholder="Email của bạn">
                                            <button style="white-space: nowrap;">Đăng ký</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <div class="back-to-top">
            <a href="#"><i class="fal fa-arrow-up"></i></a>
        </div>
    <partial name="Footer" />

    <!--====== APPIE PROJECT PART ENDS ======-->
    <!--====== jquery js ======-->
    <script src="~/intro/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/intro/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="~/intro/js/bootstrap.min.js"></script>
    <script src="~/intro/js/popper.min.js"></script>

    <!--====== wow js ======-->
    <script src="~/intro/js/wow.js"></script>

    <!--====== Slick js ======-->
    <script src="~/intro/js/jquery.counterup.min.js"></script>
    <script src="~/intro/js/waypoints.min.js"></script>

    <!--====== TweenMax js ======-->
    <script src="~/intro/js/TweenMax.min.js"></script>

    <!--====== Slick js ======-->
    <script src="~/intro/js/slick.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="~/intro/js/jquery.magnific-popup.min.js"></script>

    <!--====== Main js ======-->
    <script src="~/intro/js/main.js"></script>



</body>

</html>
