@{
    Layout = null;
    var culture = CultureInfo.CurrentCulture.Name;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!--====== Title ======-->
    <title>OWL Trust - Policy</title>
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="~/intro/images/favicon.png" type="image/png" />

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="~/intro/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css" />

    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="~/intro/css/font-awesome.min.css" />

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="~/intro/css/animate.min.css" />

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="~/intro/css/magnific-popup.css" />

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="~/intro/css/slick.css" />

    <!--====== Default css ======-->
    <link rel="stylesheet" href="~/intro/css/custom-animation.css" />
    <link rel="stylesheet" href="~/intro/css/default.css" />

    <!--====== Style css ======-->
    <link rel="stylesheet" href="~/intro/css/style.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/css/flag-icon.min.css" />
</head>

<body data-spy="scroll" data-target="#toc">
    <partial name="Header" />

    <!--====== APPIE SERVICE DETAILS PART ENDS ======-->

    <section class="appie-hero-area">
        <div class="container">
            <div class="row">

                <h1 style="text-align: center; width: 100%;" localize-content>Privacy Policy</h1>

                <div class="row justify-content-center">
                    <div class="col-sm-3">
                        <nav id="toc" data-toggle="toc" localize-content>Table of contents</nav>
                    </div>
                    <div class="col-sm-9">
                        <div class="service-details-content">
                            <div class="content">
                                <h4 class="title" localize-content>commitment</h4>
                                <p localize-content>
                                    commitment content
                                </p>
                            </div>
                            <div class="content">
                                <h3 class="title" localize-content>App</h3>
                                <p localize-content>
                                    App content
                                </p>
                            </div>
                            <div class="content">
                                <h3 class="title" localize-content>Personal information</h3>
                                <p localize-content>
                                    Information content
                                </p>
                            </div>
                            <div class="content">
                                <h3 class="title" localize-content>Your privacy and accounts</h3>
                                <p localize-content>
                                    Your privacy and accounts content
                                </p>
                            </div>
                            <div class="content">
                                <h3 class="title" localize-content>Effects of information and documents</h3>
                                <p localize-content>
                                    Effects of information and documents content
                                </p>
                            </div>
                            <div class="content">
                                <h3 class="title" localize-content>Letter of consent</h3>
                                <p localize-content>
                                    Letter of consen content
                                </p>
                            </div>
                            <div class="content">
                                <h3 class="title" localize-content>Disclosure information</h3>
                                <p localize-content>
                                    Disclosure information content
                                </p>
                            </div>
                            <div class="content">
                                <h3 class="title" localize-content>Approve and update information</h3>
                                <p localize-content>
                                    Approve and update information content
                                </p>
                            </div>
                            <div class="content">
                                <h3 class="title" localize-content>News</h3>
                                <p localize-content>
                                    News content policy
                                </p>
                            </div>
                            <div class="content">
                                <h3 class="title" localize-content>Information repository</h3>
                                <p localize-content>Information repository content</p>
                            </div>
                            <div class="content">
                                <h3 class="title" localize-content>Storage</h3>
                                <p localize-content>Storage content</p>
                            </div>
                            <div class="content">
                                <h3 class="title" localize-content>Cookies</h3>
                                <p localize-content>
                                    Cookies content
                                </p>
                            </div>
                            <div class="content">
                                <h3 class="title" localize-content>Change privacy policy</h3>
                                <p localize-content>
                                    Change privacy policy content
                                </p>
                            </div>
                            <div class="content">
                                <h3 class="title" localize-content>Terms of use</h3>
                                <p localize-content>Terms of use content</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== APPIE SERVICE DETAILS PART ENDS ======-->
    <!--====== APPIE PROJECT PART START ======-->

    <section class="appie-project-area pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="appie-project-box wow animated slideInUp" data-wow-duration="1000ms" data-wow-delay="0ms">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="appie-project-content">
                                    <h3 class="title" data-toc-skip localize-content>Sign up for an account via email</h3>
                                    <p localize-content>We only send application information via email to you.</p>
                                    <form action="#">
                                        <div class="input-box mt-30" localize-content>
                                            Input your email
                                        </div>
                                        <div class="input-box mt-30">
                                            <button  style="white-space: nowrap;" localize-content>Register</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="back-to-top">
        <a href="#"><i class="fal fa-arrow-up"></i></a>
    </div>
    <partial name="Footer" />

    <!--====== APPIE PROJECT PART ENDS ======-->
    <!--====== jquery js ======-->
    <script src="~/intro/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/intro/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
    <script src="~/intro/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>
    <script src="~/intro/js/popper.min.js"></script>

    <!--====== wow js ======-->
    <script src="~/intro/js/wow.js"></script>

    <!--====== Slick js ======-->
    <script src="~/intro/js/jquery.counterup.min.js"></script>
    <script src="~/intro/js/waypoints.min.js"></script>

    <!--====== TweenMax js ======-->
    <script src="~/intro/js/TweenMax.min.js"></script>

    <!--====== Slick js ======-->
    <script src="~/intro/js/slick.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="~/intro/js/jquery.magnific-popup.min.js"></script>

    <!--====== Main js ======-->
    <script src="~/intro/js/main.js"></script>

</body>
</html>
