@{
    var culture = CultureInfo.CurrentCulture.Name;
}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title localize-content>App Full Name</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/logo/logo_owl_notext-05.svg">
    <!-- NewsViral CSS  -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/widgets.css">
    <link rel="stylesheet" href="~/assets/css/color.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <link rel="stylesheet" href="~/assets/css/vendor/footer.css" />
    <link rel="stylesheet" href="~/intro/css/font-awesome.min.css" />
</head>

<body>
    @*
    <!-- Preloader Start -->
    <div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
    <div class="preloader-inner position-relative">
    <div class="text-center">
    <img class="jump mb-50" src="~/assets/imgs/loading.svg" alt="">
    <h6>Now Loading</h6>
    <div class="loader">
    <div class="bar bar1"></div>
    <div class="bar bar2"></div>
    <div class="bar bar3"></div>
    </div>
    </div>
    </div>
    </div>
    </div>
    *@
    <div class="main-wrap">

        <partial name="Header" />


        @RenderBody()

        <partial name="Footer" />


    </div> <!-- Main Wrap End-->
    <div class="dark-mark"></div>
    <!-- Vendor JS-->
    <script src="~/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/vendor/popper.min.js"></script>
    <script src="~/assets/js/vendor/bootstrap.min.js"></script>
    <script src="~/assets/js/vendor/jquery.slicknav.js"></script>
    <script src="~/assets/js/vendor/owl.carousel.min.js"></script>
    <script src="~/assets/js/vendor/slick.min.js"></script>
    <script src="~/assets/js/vendor/wow.min.js"></script>
    <script src="~/assets/js/vendor/animated.headline.js"></script>
    <script src="~/assets/js/vendor/jquery.magnific-popup.js"></script>
    <script src="~/assets/js/vendor/jquery.ticker.js"></script>
    <script src="~/assets/js/vendor/jquery.vticker-min.js"></script>
    <script src="~/assets/js/vendor/jquery.scrollUp.min.js"></script>
    <script src="~/assets/js/vendor/jquery.nice-select.min.js"></script>
    <script src="~/assets/js/vendor/jquery.sticky.js"></script>
    <script src="~/assets/js/vendor/perfect-scrollbar.js"></script>
    <script src="~/assets/js/vendor/waypoints.min.js"></script>
    <script src="~/assets/js/vendor/jquery.counterup.min.js"></script>
    <script src="~/assets/js/vendor/jquery.theia.sticky.js"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <!-- NewsViral JS -->
    <script src="~/assets/js/main.js"></script>
</body>

</html> 