<!DOCTYPE html>
<html>
<head>
    @*<title>Admin Dashboard HTML Template</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="template language" name="keywords">
    <meta content="Tamerlan Soziev" name="author">
    <meta content="Admin dashboard html template" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="favicon.png" rel="shortcut icon">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">*@
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title localize-content>App Full Name</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/logo/logo_owl_notext-05.svg">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">
    <link href="~/loginsource/datatables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/loginsource/daterangepicker.css" rel="stylesheet" />
    <link href="~/loginsource/dropzone.css" rel="stylesheet" />
    <link href="~/loginsource/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/loginsource/main.css" rel="stylesheet" />
    <link href="~/loginsource/perfect-scrollbar.min.css" rel="stylesheet" />
    <link href="~/loginsource/select2.min.css" rel="stylesheet" />
    <link href="~/loginsource/slick.css" rel="stylesheet" />
</head>
    @RenderBody()
</html>
