@{
    var culture = CultureInfo.CurrentCulture.Name;
}
<!--Offcanvas sidebar-->
<aside id="sidebar-wrapper" class="custom-scrollbar offcanvas-sidebar position-right">
    <button class="off-canvas-close">
        <i class="ti-close"></i>
    </button>
    <div class="sidebar-inner">
        
    </div>
</aside>
<!-- Main Header -->
<header class="main-header header-style-2 mb-40">
    <div class="header-bottom header-sticky background-white text-center">
        <div class="scroll-progress gradient-bg-1"></div>
        <div class="mobile_menu d-lg-none d-block"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3">
                    <div class="header-logo d-none d-lg-block">
                        <a asp-action="index" asp-controller="HomePage" localize-content>
                            <img class="logo-img d-inline" src="~/assets/logo/logo_OWL_NoText-05.svg" alt="owl-trust-logo" width="70px">
                        </a>
                    </div>
                    <div class="logo-tablet d-md-inline d-lg-none d-none">
                        <a asp-action="index" asp-controller="HomePage" localize-content>
                            <img class="logo-img d-inline" src="~/assets/logo/logo_OWL_NoText-05.svg" alt="owl-trust-logo" width="70px">
                        </a>
                    </div>
                    <div class="logo-mobile d-block d-md-none">
                        <a asp-action="index" asp-controller="HomePage" localize-content>
                            <img class="logo-img d-inline" src="~/assets/logo/logo_OWL_NoText-05.svg" alt="owl-trust-logo" width="70px">
                        </a>
                    </div>
                </div>
                <div class="col-lg-10 col-md-9 main-header-navigation">
                    <!-- Main-menu -->
                    <div class="main-nav text-left float-lg-left float-md-right">
                        <ul class="mobi-menu d-none menu-3-columns" id="navigation">
                            <li class="cat-item cat-item-2">
                                <a asp-action="Register" asp-controller="User" localize-content>Register</a>
                            </li>
                            <li class="cat-item cat-item-2">
                                <a asp-action="Login" asp-controller="User" localize-content>Log in</a>
                            </li>
                            <li>
                                <form action="#" method="get" class="search-form d-lg-inline ">
                                    <input type="text" class="search_field" placeholder="Search" value="" name="s">
                                    <span class="search-icon">
                                        <i class="ti-search mr-5"></i>
                                    </span>
                                </form>
                            </li>
                        </ul>
                        <nav>
                            <ul class="main-menu d-none d-lg-inline">
                                <li class="mega-menu-item">
                                    <a asp-action="index" asp-controller="HomePage" localize-content>
                                        <span class="mr-15">
                                            <ion-icon name="home-outline"></ion-icon>
                                        </span> <span localize-content>Home</span>
                                    </a>

                                </li>
                                <li class="mega-menu-item">
                                    <a asp-action="index" asp-controller="HomePage">
                                        <span class="mr-15">
                                            <ion-icon name="desktop-outline"></ion-icon>
                                        </span>
                                        <span localize-content>Categories</span>
                                    </a>

                                </li>
                                <li class="mega-menu-item">
                                    <a asp-action="index" asp-controller="HomePage">
                                        <span class="mr-15">
                                            <ion-icon name="megaphone-outline"></ion-icon>
                                        </span> <span localize-content>Topic</span>
                                    </a>
                                   
                                </li>
                                <li>
                                    <a asp-action="AboutUs" asp-controller="HomePage">
                                        <span class="mr-15">
                                            <ion-icon name="film-outline"></ion-icon>
                                        </span>
                                        <span localize-content>About us</span>
                                    </a>
                                </li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="menu-item-has-children">
                                        <a href="#">
                                            <span class="mr-15" localize-content>
                                                <ion-icon name="home-outline"></ion-icon>
                                            </span>@User.Claims.FirstOrDefault(x => x.Type == System.Security.Claims.ClaimTypes.Name).Value
                                        </a>
                                        <ul class="sub-menu text-muted font-small">
                                                @await Component.InvokeAsync("LoginInfoComponent")
                                            
                                            <li>
                                                <a onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                                                    <i class="os-icon os-icon-signs-11"></i><span>Logout</span>
                                                </a>
                                                <form id="logout-form" asp-action="Logout" asp-controller="User" method="POST" style="display: none;"></form>
                                            </li>
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li class="menu-item-has-children">
                                        <a href="#">
                                            <span class="mr-15" localize-content>
                                                <ion-icon name="home-outline"></ion-icon>
                                            </span>Account
                                        </a>
                                        <ul class="sub-menu text-muted font-small">
                                            <li><a asp-action="Login" asp-controller="User" localize-content>Log in</a></li>
                                            <li><a asp-action="Register" asp-controller="User" localize-content>Register</a></li>
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                    <div class="d-lg-inline float-right position-relative d-none ">
                        <language-nav flags="true" language-label="NativeName"
                                      cookie-handler-url="@(Url.Action("SetCultureCookie", "Home", new { area = "", cltr = "{0}", returnUrl = "{1}" }))">
                        </language-nav>
                    </div>
                    <form asp-action="Search" asp-controller="HomePage" asp-route-name="name" method="get" class="search-form d-lg-inline float-right position-relative  d-none">
                        <input type="text" class="search_field" placeholder="Search" value="" name="name">
                        <span class="search-icon">
                            <i class="ti-search mr-5"></i>
                        </span>
                    </form>
                    <!-- Off canvas -->
                    
                    <!-- Search -->

                </div>
            </div>
        </div>
    </div>
</header>