<div class="entry-header entry-header-2 mb-50 mt-50 text-center">
    <div class="entry-meta meta-0 font-small mb-30"><a href="category.html"><span class="post-cat background4 text-danger">Welcome</span></a></div>
    <h1 class="post-title mb-30">
        About Our Company
    </h1>
    <div class="entry-meta meta-1 font-x-small color-grey text-uppercase">
        <span>+150 staff</span>
        <span class="ml-10">25 awards</span>
        <span class="ml-10">+12.000 projects</span>
    </div>
</div>
<!--end entry header-->
<div class="row mb-50">
    <div class="col-lg-2 d-none d-lg-block"></div>
    <div class="col-lg-8 col-md-12">
        <div class="single-social-share single-sidebar-share mt-30">
            <ul>
                <li><a class="social-icon facebook-icon text-xs-center" target="_blank" href="#"><i class="ti-facebook"></i></a></li>
                <li><a class="social-icon twitter-icon text-xs-center" target="_blank" href="#"><i class="ti-twitter-alt"></i></a></li>
                <li><a class="social-icon pinterest-icon text-xs-center" target="_blank" href="#"><i class="ti-pinterest"></i></a></li>
                <li><a class="social-icon instagram-icon text-xs-center" target="_blank" href="#"><i class="ti-instagram"></i></a></li>
                <li><a class="social-icon linkedin-icon text-xs-center" target="_blank" href="#"><i class="ti-linkedin"></i></a></li>
                <li><a class="social-icon email-icon text-xs-center" target="_blank" href="#"><i class="ti-email"></i></a></li>
            </ul>
        </div>
        <div class="single-excerpt">
            <p class="font-large">
                We are AliThemes , a creative and dedicated group of individuals who love web development almost as much as we love our customers.
                We are passionate team with the mission for achieving the perfection in web design.
                All designs are made by love with pixel perfect design and excellent coding quality. Speed, security and SEO friendly alway in our mind.
            </p>
            <hr class="wp-block-separator is-style-wide">
            <p>
                <span class="mr-5">
                    <ion-icon name="home-outline"></ion-icon>
                </span><strong>Our website:</strong> https://alithemes.com
            </p>
            <p>
                <span class="mr-5">
                    <ion-icon name="planet-outline"></ion-icon>
                </span><strong>Support center:</strong> https://alithemes.ticksy.com
            </p>
        </div>
        <div class="entry-main-content">
            <h2>A great place to work</h2>
            <hr class="wp-block-separator is-style-wide">
            <p>Discover how we embrace innovation to drive new value for your organization. Explore new insights. See tangible outcomes. </p>
            <h5>Meet our leadership</h5>
            <figure class="wp-block-gallery columns-6">
                <ul class="blocks-gallery-grid">
                    <li class="blocks-gallery-item">
                        <a href="#"><img class="border-radius-5" src="~/assets/imgs/authors/author.png" alt=""></a>
                        <p class="font-small text-muted text-center mt-15"><strong>Arjun Bedi</strong><br>Co-Founder</p>
                    </li>
                    <li class="blocks-gallery-item">
                        <a href="#"><img class="border-radius-5" src="~/assets/imgs/authors/author-1.png" alt=""></a>
                        <p class="font-small text-muted text-center mt-15"><strong>Jack Azagury</strong><br>Chief Executive Officer</p>
                    </li>
                    <li class="blocks-gallery-item">
                        <a href="#"><img class="border-radius-5" src="~/assets/imgs/authors/author-2.png" alt=""></a>
                        <p class="font-small text-muted text-center mt-15"><strong>Julie Sweet</strong><br>Market Unit Lead</p>
                    </li>
                    <li class="blocks-gallery-item">
                        <a href="#"><img class="border-radius-5" src="~/assets/imgs/authors/author-3.png" alt=""></a>
                        <p class="font-small text-muted text-center mt-15"><strong>Kelly Bissell</strong><br>Accenture Security</p>
                    </li>
                    <li class="blocks-gallery-item">
                        <a href="#"><img class="border-radius-5" src="~/assets/imgs/authors/author-7.png" alt=""></a>
                        <p class="font-small text-muted text-center mt-15"><strong>Andrea Brueckner</strong><br>Client Account Lead</p>
                    </li>
                </ul>
            </figure>
            <p>
                We are a young team of passionate “Builders” who work hard yet smart to build awesome WordPress products.
                Started in 2012 with our firsthand product WordPress theme, we quickly improve ourselves through different products in term of design and features to meet our customers’ expectation and satisfaction.
                Consisting different skill sets from technical to business, we can ensure you that not only the best products but also the best service that we are providing.
            </p>
            <p>New technologies and business models can transform how the international development community serves people in need. Accenture Development Partnerships helps organizations in this sector dramatically increase their impact in areas such as global healthcare, education, financial inclusion and energy access. By applying the talents of our people, capabilities and experience, we are empowering our clients, including non-governmental organizations, foundations and government financial institutions, to improve millions of lives in the developing world. Together with our clients, we are building momentum to change the world and bringing us closer to achieving the United Nations’ Sustainable Development Goals.</p>
            <h2>How we lead</h2>
            <div class="wp-block-image">
                <figure>
                    <img class="border-radius-5" src="~/assets/imgs/news-23.jpg" alt="">
                    <figcaption> And far contrary smoked some contrary among stealthy </figcaption>
                </figure>
            </div>
            <p>Across the globe, one thing is universally true of the people of Accenture: We care deeply about what we do and the impact we have with our clients and with the communities in which we work and live. It is personal to all of us.</p>
            <hr class="wp-block-separator is-style-dots">
            <p>Since launching in 2003, we have completed more than 1,600 projects across 90 countries. By tapping into the best of Accenture's ecosystem and alliance partners—global reach, extensive capabilities, cross-industry perspectives and a skilled workforce—we can provide end-to-end solutions.</p>
            <blockquote class="wp-block-quote is-style-large">
                <p>The advance of technology is based on making it fit in so that you don't really even notice it, so it's part of everyday life.</p><cite>B. Johnso</cite>
            </blockquote>
            <h2>Our vision</h2>
            <hr class="wp-block-separator is-style-wide">
            <p>Less lion goodness that euphemistically robin expeditiously bluebird smugly scratched far while thus cackled sheepishly rigid after due one assenting regarding censorious while occasional or this more crane went more as this less much amid overhung anathematic because much held one exuberantly sheep goodness so where rat wry well concomitantly.</p>
            <p>Other yet this hazardous oh the until brave close towards stupidly euphemistically firefly boa some more underneath circa yet on as wow above ripe or blubbered one cobra bore ouch and this held ably one hence</p>
            <hr class="wp-block-separator is-style-wide">
            <p>Alexe more gulped much garrulous a yikes earthworm wiped because goodness bet mongoose that along accommodatingly tortoise indecisively admirable but shark dear some and unwillingly before far vindictive less much this on more less flexed far woolly from following glanced resolute unlike far this alongside against icily beyond flabby accidental.</p>
            <p class="text-center mt-30">
                <a href="#"><img class="d-inline border-radius-10" src="~/assets/imgs/ads.jpg" alt=""></a>
            </p>
        </div>
        <div class="entry-bottom mt-50 mb-30">
            <div class="overflow-hidden mt-30">
                <div class="single-social-share float-left">
                    <ul class="d-inline-block list-inline">
                        <li class="list-inline-item"><span class="font-small text-muted"><i class="ti-sharethis mr-5"></i>Share: </span></li>
                        <li class="list-inline-item"><a class="social-icon facebook-icon text-xs-center" target="_blank" href="#"><i class="ti-facebook"></i></a></li>
                        <li class="list-inline-item"><a class="social-icon twitter-icon text-xs-center" target="_blank" href="#"><i class="ti-twitter-alt"></i></a></li>
                        <li class="list-inline-item"><a class="social-icon pinterest-icon text-xs-center" target="_blank" href="#"><i class="ti-pinterest"></i></a></li>
                        <li class="list-inline-item"><a class="social-icon instagram-icon text-xs-center" target="_blank" href="#"><i class="ti-instagram"></i></a></li>
                        <li class="list-inline-item"><a class="social-icon linkedin-icon text-xs-center" target="_blank" href="#"><i class="ti-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--related posts-->
        <div class="related-posts">
            <h3 class="mb-30">From Our Blog</h3>
            <div class="row">
                <article class="col-lg-4">
                    <div class="background-white border-radius-10 p-10 mb-30">
                        <div class="post-thumb d-flex mb-15 border-radius-15 img-hover-scale">
                            <a href="single.html">
                                <img class="border-radius-15" src="~/assets/imgs/news-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="pl-10 pr-10">
                            <div class="entry-meta mb-15 mt-10">
                                <a class="entry-meta meta-2" href="category.html"><span class="post-in text-primary font-x-small">Politic</span></a>
                            </div>
                            <h5 class="post-title mb-15">
                                <span class="post-format-icon">
                                    <ion-icon name="image-outline" role="img" class="md hydrated" aria-label="image outline"></ion-icon>
                                </span>
                                <a href="single.html">The litigants on the screen are not actors</a>
                            </h5>
                            <div class="entry-meta meta-1 font-x-small color-grey float-left text-uppercase mb-10">
                                <span class="post-by">By <a href="author.html">John Nathan</a></span>
                                <span class="post-on">8m ago</span>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-lg-4">
                    <div class="background-white border-radius-10 p-10 mb-30">
                        <div class="post-thumb d-flex mb-15 border-radius-15 img-hover-scale">
                            <a href="single.html">
                                <img class="border-radius-15" src="~/assets/imgs/news-5.jpg" alt="">
                            </a>
                        </div>
                        <div class="pl-10 pr-10">
                            <div class="entry-meta mb-15 mt-10">
                                <a class="entry-meta meta-2" href="category.html"><span class="post-in text-success font-x-small">Tech</span></a>
                            </div>
                            <h5 class="post-title mb-15">
                                <span class="post-format-icon">
                                    <ion-icon name="headset-outline" role="img" class="md hydrated" aria-label="headset outline"></ion-icon>
                                </span>
                                <a href="single.html">Essential Qualities of Highly Successful Music</a>
                            </h5>
                            <div class="entry-meta meta-1 font-x-small color-grey float-left text-uppercase mb-10">
                                <span class="post-by">By <a href="author.html">K. Steven</a></span>
                                <span class="post-on">24m ago</span>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-lg-4">
                    <div class="background-white border-radius-10 p-10">
                        <div class="post-thumb d-flex mb-15 border-radius-15 img-hover-scale">
                            <a href="single.html">
                                <img class="border-radius-15" src="~/assets/imgs/news-7.jpg" alt="">
                            </a>
                        </div>
                        <div class="pl-10 pr-10">
                            <div class="entry-meta mb-15 mt-10">
                                <a class="entry-meta meta-2" href="category.html"><span class="post-in text-danger font-x-small">Global</span></a>
                            </div>
                            <h5 class="post-title mb-15">
                                <a href="single.html">Essential Qualities of Highly Successful Music</a>
                            </h5>
                            <div class="entry-meta meta-1 font-x-small color-grey float-left text-uppercase mb-10">
                                <span class="post-by">By <a href="author.html">K. Jonh</a></span>
                                <span class="post-on">24m ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
<!--End row-->
<div class="row">
    <div class="col-12 text-center mb-50">
        <a href="#">
            <img class="border-radius-10 d-inline" src="~/assets/imgs/ads-3.png" alt="">
        </a>
    </div>
</div>