@using FakeNewsFilter.ViewModel.Catalog.NewsManage
@model List<NewsViewModel>
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
<div class="widget-header position-relative mb-30">
    <div class="row">
        <div class="col-7">
            <h4 class="widget-title mb-0">Don't <span>miss</span></h4>
        </div>
        <div class="col-5 text-right">
            <h6 class="font-medium pr-15">
                <a class="text-muted font-small" href="#">View all</a>
            </h6>
        </div>
    </div>
</div>
<div class="post-aside-style-1 border-radius-10 p-20 bg-white">
    <ul class="list-post">
        @foreach (var item in Model.Take(4))
        {
            <li class="mb-20">
                <div class="d-flex">
                    <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                        <a class="color-white" href="single.html">
                            <img src="@item.ThumbNews" alt="">
                        </a>
                    </div>
                    <div class="post-content media-body">
                        <h6 class="post-title mb-10 text-limit-2-row"><a href="single.html">@item.Title</a></h6>
                    </div>
                </div>
            </li>

        }
    </ul>
</div>