    <!-- sidebar-left -->
    <div class="col-lg-2 col-md-3 primary-sidebar sticky-sidebar sidebar-left order-2 order-md-1">
        <!-- Widget Weather -->
        <div class="sidebar-widget widget-weather border-radius-10 bg-white mb-30 mt-55">
            <div class="d-flex">
                <div class="font-medium">
                    <p>Monday</p>
                    <h2>12</h2>
                    <p><strong>August</strong></p>
                </div>
                <div class="font-medium ml-10 pt-20">
                    <div id="datetime" class="d-inline-block">
                        <ul>
                            <li>
                                <span class="font-small">
                                    <a class="text-primary" href="#">London</a><br>
                                    <i class="wi wi-day-sunny mr-5"></i>32ºc
                                </span>
                                <p>Sunny</p>
                            </li>
                            <li>
                                <span class="font-small">
                                    <a class="text-danger" href="#">Paris</a><br>
                                    <i class="wi wi-day-cloudy mr-5"></i>28ºc
                                </span>
                                <p>Cloudy</p>
                            </li>
                            <li>
                                <span class="font-small">
                                    <a class="text-success" href="#">New York</a><br>
                                    <i class="wi wi-rain-mix mr-5"></i>25ºc
                                </span>
                                <p>Rainy</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Widget Categories -->
        <div class="sidebar-widget widget_categories_2 border-radius-10 bg-white mb-30">
            <ul class="font-small text-muted">
                <li class="cat-item cat-item-2 active">
                    <a href="#">
                        <span class="mr-10">
                            <ion-icon name="earth-outline"></ion-icon>
                        </span>International
                    </a>
                </li>
                <li class="cat-item cat-item-3">
                    <a href="#">
                        <span class="mr-10">
                            <ion-icon name="trending-up-outline"></ion-icon>
                        </span>Businesss
                    </a>
                </li>
                <li class="cat-item cat-item-4">
                    <a href="#">
                        <span class="mr-10">
                            <ion-icon name="glasses-outline"></ion-icon>
                        </span>Entertainment
                    </a>
                </li>
                <li class="cat-item cat-item-5">
                    <a href="#">
                        <span class="mr-10">
                            <ion-icon name="bicycle-outline"></ion-icon>
                        </span>Sport News
                    </a>
                </li>
                <li class="cat-item cat-item-6">
                    <a href="#">
                        <span class="mr-10">
                            <ion-icon name="fitness-outline"></ion-icon>
                        </span>Health
                    </a>
                </li>
                <li class="cat-item cat-item-2">
                    <a href="#">
                        <span class="mr-10">
                            <ion-icon name="book-outline"></ion-icon>
                        </span>Magazine
                    </a>
                </li>
            </ul>
        </div>
        <!-- Widget Categories -->
        <div class="sidebar-widget widget_categories border-radius-10 bg-white mb-30">
            <div class="widget-header position-relative mb-15">
                <h5 class="widget-title"><strong>Categories</strong></h5>
            </div>
            <ul class="font-small text-muted">
                <li class="cat-item cat-item-2"><a href="#">Global Economy</a></li>
                <li class="cat-item cat-item-3"><a href="#">Environment</a></li>
                <li class="cat-item cat-item-4"><a href="#">Religion</a></li>
                <li class="cat-item cat-item-5"><a href="#">Fashion</a></li>
                <li class="cat-item cat-item-6"><a href="#">Terrorism</a></li>
                <li class="cat-item cat-item-7"><a href="#">Conflicts</a></li>
                <li class="cat-item cat-item-2"><a href="#">Scandals</a></li>
                <li class="cat-item cat-item-2"><a href="#">Executive</a></li>
                <li class="cat-item cat-item-2"><a href="#">Foreign policy</a></li>
                <li class="cat-item cat-item-2"><a href="#">Healthy Living</a></li>
                <li class="cat-item cat-item-3"><a href="#">Medical Research</a></li>
                <li class="cat-item cat-item-4"><a href="#">Children’s Health</a></li>
                <li class="cat-item cat-item-5"><a href="#">Around the World</a></li>
                <li class="cat-item cat-item-6"><a href="#">Ad Choices</a></li>
                <li class="cat-item cat-item-7"><a href="#">Mental Health</a></li>
                <li class="cat-item cat-item-2"><a href="#">Media Relations</a></li>
            </ul>
        </div>
    </div>
