@using FakeNewsFilter.ViewModel.Catalog.NewsManage
@model List<NewsViewModel>
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
<div class="latest-post mb-50">
    <div class="widget-header position-relative mb-30">
        <div class="row">
            <div class="col-7">
                <h4 class="widget-title mb-0">Latest <span>Posts</span></h4>
            </div>
            <div class="col-5 text-right">
                <h6 class="font-medium pr-15">
                    <a class="text-muted font-small" href="#">View all</a>
                </h6>
            </div>
        </div>
    </div>
    <div class="loop-list-style-1">
        @foreach (var item in Model.Take(1))
        {

            <article class="first-post p-10 background-white border-radius-10 mb-30 wow fadeIn animated">
                <div class="img-hover-slide border-radius-15 mb-30 position-relative overflow-hidden">
                    <span class="top-right-icon bg-dark"><i class="mdi mdi-flash-on"></i></span>
                    <a href="single.html">
                        <img src="@item.ThumbNews" alt="post-slider">
                    </a>
                </div>
                <div class="pr-10 pl-10">
                    <div class="entry-meta mb-30">
                        <a class="entry-meta meta-0" href="category.html"><span class="post-in background2 text-primary font-x-small">Technology</span></a>
                        <div class="float-right font-small">
                            <span><span class="mr-10 text-muted"><i class="fa fa-eye" aria-hidden="true"></i></span>5.8k</span>
                            <span class="ml-30"><span class="mr-10 text-muted"><i class="fa fa-comment" aria-hidden="true"></i></span>2.5k</span>
                            <span class="ml-30"><span class="mr-10 text-muted"><i class="fa fa-share-alt" aria-hidden="true"></i></span>125k</span>
                        </div>
                    </div>
                    <h4 class="post-title mb-20">
                        <span class="post-format-icon">
                            <ion-icon name="headset-outline"></ion-icon>
                        </span>
                        <a href="single.html">@item.Title</a>
                    </h4>
                    <div class="mb-20 overflow-hidden">
                        <div class="entry-meta meta-1 font-x-small color-grey float-left text-uppercase">
                            <span class="post-by">By <a href="author.html">KNICKMEYER</a></span>
                            <span class="post-on">18/09/2020 09:35 EST</span>
                            <span class="time-reading">12 mins read</span>
                            <p class="font-x-small mt-10">Updated 18/09/2020 10:28 EST</p>
                        </div>
                        <div class="float-right">
                            <a href="single.html" class="read-more"><span class="mr-10"><i class="fa fa-thumbtack" aria-hidden="true"></i></span>Picked by Editor</a>
                        </div>
                    </div>
                </div>
            </article>
        }
        @foreach (var item in Model.Take(4))
        {
            <article class="p-10 background-white border-radius-10 mb-30 wow fadeIn animated">
                <div class="d-flex">
                    <div class="post-thumb d-flex mr-15 border-radius-15 img-hover-scale">
                        <a class="color-white" href="single.html">
                            <img class="border-radius-15" src="@item.ThumbNews" alt="">
                        </a>
                    </div>
                    <div class="post-content media-body">
                        <div class="entry-meta mb-15 mt-10">
                            <a class="entry-meta meta-2" href="category.html"><span class="post-in text-danger font-x-small">Politic</span></a>
                        </div>
                        <h5 class="post-title mb-15 text-limit-2-row">
                            <span class="post-format-icon">
                                <ion-icon name="videocam-outline"></ion-icon>
                            </span>
                            <a href="single.html">@item.Title</a>
                        </h5>
                        <div class="entry-meta meta-1 font-x-small color-grey float-left text-uppercase">
                            <span class="post-by">By <a href="author.html">Sean Boynton</a></span>
                            <span class="post-on">15/09/2020 07:00 EST</span>
                            <span class="time-reading">12 mins read</span>
                        </div>
                    </div>
                </div>
            </article>
        }
    </div>
</div>
<div class="pagination-area mb-30">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start">
            <li class="page-item"><a class="page-link" href="#"><i class="ti-angle-left"></i></a></li>
            <li class="page-item active"><a class="page-link" href="#">01</a></li>
            <li class="page-item"><a class="page-link" href="#">02</a></li>
            <li class="page-item"><a class="page-link" href="#">03</a></li>
            <li class="page-item"><a class="page-link" href="#">04</a></li>
            <li class="page-item"><a class="page-link" href="#"><i class="ti-angle-right"></i></a></li>
        </ul>
    </nav>
</div>