

@{
    ViewData["Title"] = "Fake News Filter - Admin Manage";
}

@section headerscripts{
    <link rel="stylesheet" type="text/css" href="/bower_components/datatables.net-buttons-bs/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/datatables.net-buttons-bs/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/datatables.net-buttons-bs/css/buttons.bootstrap5.min.css">
    <link href="/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
}

<div class="row">
    <div class="col-sm-12">
        <div class="element-wrapper">
            <div class="element-actions">
                <form class="form-inline justify-content-sm-end">
                    <select class="form-control form-control-sm rounded">
                        <option value="Pending">
                            Today
                        </option>
                        <option value="Active">
                            Last Week
                        </option>
                        <option value="Cancelled">
                            Last 30 Days
                        </option>
                    </select>
                </form>
            </div>
            <h6 class="element-header">
                Sales Dashboard
            </h6>
            <div class="element-content">
                <div class="row">
                    <div class="col-sm-4 col-xxxl-3">
                        <a class="element-box el-tablo" href="#">
                            <div class="label">
                                Products Sold
                            </div>
                            <div class="value">
                                57
                            </div>
                            <div class="trending trending-up-basic">
                                <span>12%</span><i class="os-icon os-icon-arrow-up2"></i>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 col-xxxl-3">
                        <a class="element-box el-tablo" href="#">
                            <div class="label">
                                Gross Profit
                            </div>
                            <div class="value">
                                $457
                            </div>
                            <div class="trending trending-down-basic">
                                <span>12%</span><i class="os-icon os-icon-arrow-down"></i>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 col-xxxl-3">
                        <a class="element-box el-tablo" href="#">
                            <div class="label">
                                New Customers
                            </div>
                            <div class="value">
                                125
                            </div>
                            <div class="trending trending-down-basic">
                                <span>9%</span><i class="os-icon os-icon-arrow-down"></i>
                            </div>
                        </a>
                    </div>
                    <div class="d-none d-xxxl-block col-xxxl-3">
                        <a class="element-box el-tablo" href="#">
                            <div class="label">
                                Refunds Processed
                            </div>
                            <div class="value">
                                $294
                            </div>
                            <div class="trending trending-up-basic">
                                <span>12%</span><i class="os-icon os-icon-arrow-up2"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="element-wrapper">
            <h6 class="element-header">
                Recent Notifications
            </h6>
            <div class="element-box-tp">
                <div class="controls-above-table">
                    <div class="row">
                        <div class="col-sm-6">
                            <a class="btn btn-sm btn-secondary" href="#">Download CSV</a><a class="btn btn-sm btn-secondary" href="#">Archive</a><a class="btn btn-sm btn-danger" href="#">Delete</a>
                        </div>
                        <div class="col-sm-6">
                            <form class="form-inline justify-content-sm-end">
                                <input class="form-control form-control-sm rounded bright" placeholder="Search" type="text">
                                <select class="form-control form-control-sm rounded bright">
                                    <option selected="selected" value="">
                                        Select Status
                                    </option>
                                    <option value="Pending">
                                        Pending
                                    </option>
                                    <option value="Active">
                                        Active
                                    </option>
                                    <option value="Cancelled">
                                        Cancelled
                                    </option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="notifications_list" class="table table-bordered table-lg table-v2 table-striped">
                        <thead>
                        <tr>
                            <th >
                               
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Completed At
                            </th>
                            <th>
                                Successful
                            </th>
                            <th>
                                Filters
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section footerscripts{
    <script src="/bower_components/datatables.net-buttons-bs/js/jquery.dataTables.min.js"></script>
    <script src="/bower_components/datatables.net-buttons-bs/js/dataTables.bootstrap5.min.js"></script>
    <script src="/bower_components/datatables.net-buttons-bs/js/dataTables.responsive.min.js"></script>
    <script src="/bower_components/datatables.net-buttons-bs/js/responsive.bootstrap4.js"></script>
    <script src="/bower_components/datatables.net-buttons-bs/js/responsive.bootstrap4.js"></script>
    <script src="/bower_components/datatables.net-buttons-bs/js/datatables.checkboxes.min.js"></script>
    <script src="/bower_components/datatables.net-buttons-bs/js/datatables.buttons.min.js"></script>
    <script src="/bower_components/datatables.net-buttons-bs/js/buttons.bootstrap5.min.js"></script>
    <script src="/bower_components/bootstrap/js/dist/modal.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/31.0.0/classic/ckeditor.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="/js/admin/search.js"></script>
}
