@model FakeNewsFilter.ViewModel.Catalog.Notification.CreateNotificationRequest

@{
    ViewData["Title"] = "Fake News Filter - Create Notification";
}

@section headerscripts{
    <link rel="stylesheet" type="text/css" href="/bower_components/datatables.net-buttons-bs/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/datatables.net-buttons-bs/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/datatables.net-buttons-bs/css/buttons.bootstrap5.min.css">
    <link href="/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
}

<div class="row">
    <div class="col-sm-12">
        <div class="element-wrapper">
            <h6 class="element-header">
                Recent Notifications
            </h6>
            <div class="element-box-tp">
                <div class="controls-above-table">
                    <div class="row">
                        <div class="col-sm-6">
                            <a class="btn btn-sm btn-secondary" href="#">Download CSV</a><a class="btn btn-sm btn-secondary" href="#">Archive</a><a class="btn btn-sm btn-danger" href="#">Delete</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="notifications_list" width="100%" class="table table-bordered table-lg table-v2 table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Completed At</th>
                            <th hidden="hidden"></th>
                            <th>Successful</th>
                            <th>Failed</th>
                            <th>Errored</th>
                            <th>Filters</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                    </table>
                    <div id="loading">
                        <img id="loading-image" src="/img/ajax-loader.gif" alt="Loading..."/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div aria-labelledby="myLargeModalLabel" class="modal fade bd-example-modal-lg show" role="dialog" tabindex="-1" style="padding-right: 15px; display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Push New Message
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"> ×</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Create" asp-controller="Notification" method="post">
                    <div class="form-group">
                        <label class="form-label" for="language">Name</label>
                        <input type="text" class="form-control dt-top-tag" asp-for="name"/>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="headings_en">Headings (En)</label>
                        <input type="text" class="form-control dt-top-tag" asp-for="@Model.headings.en"/>
                        <label class="form-label" for="headings_vi">Headings (Vi)</label>
                        <input type="text" class="form-control dt-top-tag" asp-for="@Model.headings.vi"/>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="contents_en">Contents (En)</label>
                        <input type="text" class="form-control dt-top-tag" asp-for="@Model.contents.en"/>
                        <label class="form-label" for="contents_vi">Contents (Vi)</label>
                        <input type="text" class="form-control dt-top-tag" asp-for="@Model.contents.vi"/>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="url">Url</label>
                        <input type="text" class="form-control dt-top-tag" asp-for="url"/>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="filter">Filter</label>
                        <select class="form-control" asp-for="filter" aria-invalid="false">
                            <option value="en">English</option>
                            <option value="vi">Tiếng Việt</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button"> Close</button>
                        <button class="btn btn-primary" type="submit"> Save changes</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div id="myModalNotification" aria-labelledby="myModalNotification" class="modal fade bd-example-modal-lg show" role="dialog" tabindex="-1" style="padding-right: 15px; display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    View Notification
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"> ×</span>
                </button>
            </div>
            <div class="modal-body">
               
            </div>

        </div>
    </div>
</div>


@section footerscripts{
    <script src="/bower_components/datatables.net-buttons-bs/js/jquery.dataTables.min.js"></script>
    <script src="/bower_components/datatables.net-buttons-bs/js/dataTables.bootstrap5.min.js"></script>
    <script src="/bower_components/datatables.net-buttons-bs/js/dataTables.responsive.min.js"></script>
    <script src="/bower_components/datatables.net-buttons-bs/js/responsive.bootstrap4.js"></script>
    <script src="/bower_components/datatables.net-buttons-bs/js/responsive.bootstrap4.js"></script>
    <script src="/bower_components/datatables.net-buttons-bs/js/datatables.checkboxes.min.js"></script>
    <script src="/bower_components/datatables.net-buttons-bs/js/datatables.buttons.min.js"></script>
    <script src="/bower_components/datatables.net-buttons-bs/js/buttons.bootstrap5.min.js"></script>
    <script src="/bower_components/bootstrap/js/dist/modal.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/31.0.0/classic/ckeditor.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="/js/admin/notification.js"></script>
}