@model FakeNewsFilter.ViewModel.Catalog.Claims.ClaimCreateNewsVM.CloneNewsVM


@section headerscripts{

}
@{
    ViewData["Title"] = "NewsApi Clone News";
}

@if (ViewBag.SuccessMsg != null)
{
    <script>setTimeout(function () {
        toastr['success'](
            '@ViewBag.SuccessMsg',
            'Success', {
            closeButton: true,
            tapToDismiss: false,
            positionClass: "toast-bottom-left",
            rtl: $('html').attr('data-textdirection') === 'rtl'
        }
        );
    }, 2000);</script>
}

@if (ViewBag.Error != null)
{
    <script>setTimeout(function () {
        toastr['error'](
            '@ViewBag.Error',
            'Error', {
            closeButton: true,
            tapToDismiss: false,
            positionClass: "toast-bottom-left",
            rtl: $('html').attr('data-textdirection') === 'rtl'
        }
        );
    }, 2000);</script>
}


@foreach (var error in ViewData.ModelState.SelectMany(x => x.Value.Errors))
{
    <script>setTimeout(function () {
        toastr['warning'](
            '@error.ErrorMessage',
            'Warning', {
            closeButton: true,
            tapToDismiss: false,
            rtl: $('html').attr('data-textdirection') === 'rtl'
        }
        );
    }, 2000);</script>
}


<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- Basic table -->
        <section id="input-mask-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Clone News</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-8 col-md-6 col-sm-12 mb-2">
                                    <label for="searchInput" class="form-label">Search</label>
                                    <div class="input-group">
                                        <button class="btn btn-outline-primary waves-effect" type="button">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                        </button>
                                        <input id="newsApiSearchInput" type="text" class="form-control" placeholder="Search" aria-label="Amount">
                                        <input id="newsApiQuerySearch" type="hidden">
                                        <button id="newsApiSearchBtn" class="btn btn-outline-primary waves-effect" type="button">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row match-height">
                        <partial name="ViewNewsApiCloneNews" model="@Model?.ArticlesResults" />
                    </div>
                </div>
            </div>
            <div id="loading" class="hidden">
                <img id="loading-image" src="/img/ajax-loader.gif" alt="Loading..." />
            </div>
            <partial name="CreateNews" model="@Model?.NewsCreateRequest" />
        </section>
    </div>
    
</div>

@section footerscripts{
    <script src="/js/admin/clonenews.js"></script>
    
}

