@model FakeNewsFilter.ViewModel.Catalog.TopicNews.TopicInfoVM

<div id="updateTopic" class="modal fade bd-example-modal-lg show" role="dialog" tabindex="-1" aria-hidden="true" style="display: none;">
    <form method="post" asp-controller="Topic" asp-action="EditTopic" id="updateTopic">
        @Html.AntiForgeryToken()
        <div class="modal-dialog modal-lg">>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Update Topic
                    </h5>
                    <button aria-label="Đóng" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> ×</span></button>
                </div>

                <div class="modal-body">
                    <div class="panel-body">    
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name" class="form-label">Label</label>
                                    <select class="form-control" asp-for="Label" asp-items="@ViewBag.ListLabel" aria-invalid="false"></select>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="publisher" class="form-label">Tag</label>
                                    <input type="text" asp-for="Tag" class="form-control border-start-0" placeholder="Tag" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="language" class="form-label">Language</label>
                                    <select class="form-control" asp-for="LanguageId" asp-items="@ViewBag.ListLanguage" aria-invalid="false" placeholder="Language"></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="form-label">Description</label>
                            <textarea type="text" rows="5" class="form-control border-start-0" asp-for="Description"> </textarea>
                            <small class="textarea-counter-value float-end" style="background-color: rgb(115, 103, 240);"><span class="char-count">0</span> / 200 </small>
                        </div>

                        <div class="form-group">
                            <div style="text-align: center">
                                <img id="topic-thumb-edit" src="@Model.ThumbImage" class="rounded me-2 my-25 cursor-pointer" width="250">
                                
                            </div>
                        </div>
                        
                        <input type="hidden" asp-for="TopicId" />
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-success" type="submit" onclick="EditTopic(document.querySelector('#updateTopic > form'), event)">Save change</button>
                </div>
            </div>
        </div>
    </form>
</div>