@model FakeNewsFilter.ViewModel.Catalog.TopicNews.TopicInfoVM

@section headerscripts{
   
}

@{
    ViewData["Title"] = "Update Topic";
}

<div class="element-box">
  <form asp-action="Edit" asp-controller="Topic" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="TopicId" />
    <h5 class="form-header">
      Edit Topic
    </h5>
    <div class="form-desc">
        Update Topic
    </div>
    <div class="d-flex mb-2">
        <img src="https://fakenewsfilter.tk/images/topics/@Model.ThumbImage" alt="thumb topic" class="thumb-image users-avatar-shadow rounded me-2 my-25 cursor-pointer" height="90" width="90">
        <div class="mt-50">
            <div class="form-group">
                <label class="btn btn-primary me-75 mb-0 waves-effect waves-float waves-light" for="ThumbImage">
                    <span class="d-none d-sm-block">Change</span>
                    <input asp-for="ThumbImage" class="form-control" type="file" hidden="" accept="image/png, image/jpeg, image/jpg">
                    <span class="d-block d-sm-none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit me-0"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                    </span>
                </label>
                <button class="btn btn-outline-secondary d-block d-sm-none">
                    <i class="me-0" data-feather="trash-2"></i>
                </button>
                <button class="btn btn-outline-secondary d-block d-sm-none waves-effect">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2 me-0"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="name" class="form-label">Label</label>
                <input type="text" asp-for="Label" class="form-control border-start-0">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="publisher" class="form-label">Tag</label>
                <input type="text" asp-for="Tag" class="form-control border-start-0" placeholder="Tag"/>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="language" class="form-label">Language</label>
                <select class="form-control" asp-for="LanguageId" asp-items="@ViewBag.ListLanguage" aria-invalid="false" placeholder="Language"></select>
            </div>
        </div>
    </div>
    <div class="form-group">
      <label for="description" class="form-label">Description</label>
      <textarea type="text" rows="5" class="form-control border-start-0" asp-for="Description"> </textarea>
    </div>
    <input id="newsId" type="hidden" asp-for="TopicId"/>
    <div class="form-buttons-w">
            <button class="btn btn-primary" type="submit" onclick="EditTopic(this.parentElement.parentElement, event)"> Submit</button>
        </div>
  </form>
</div>
@section footerscripts{
    <script src="/js/admin/edittopic.js"></script>
}
