@model FakeNewsFilter.ViewModel.Catalog.TopicNews.TopicCreateRequest

@section headerscripts{
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/tables/datatable/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/forms/select/select2.min.css">
}

@{
    ViewData["Title"] = "LIST TOPIC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.SuccessMsg != null)
{
    <script>
        setTimeout(function() {
            toastr['success'](
                '@ViewBag.SuccessMsg',
                'Success', {
                    closeButton: true,
                    tapToDismiss: false,
                    positionClass: "toast-bottom-left",
                    rtl: $('html').attr('data-textdirection') === 'rtl'
                }
            );
        }, 2000);
    </script>
}


@if (ViewBag.Error != null)
{
    <script>
        setTimeout(function() {
            toastr['error'](
                '@ViewBag.Error',
                'Error', {
                    closeButton: true,
                    tapToDismiss: false,
                    positionClass: "toast-bottom-left",
                    rtl: $('html').attr('data-textdirection') === 'rtl'
                }
            );
        }, 2000);
    </script>
}


@foreach (var error in ViewData.ModelState.SelectMany(x => x.Value.Errors))
{
    <script>
            setTimeout(function() {
                toastr['warning'](
                    '@error.ErrorMessage',
                    'Warning', {
                        closeButton: true,
                        tapToDismiss: false,
                        rtl: $('html').attr('data-textdirection') === 'rtl'
                    }
                );
            }, 2000);
    </script>
}

<div class="card">

    <div id="DataTables_Table_0_wrapper" class=" card-body pb-50 dataTables_wrapper dt-bootstrap5 no-footer">
        <!-- Basic table -->
        <section id="basic-datatable">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <h2 class="content-header-title float-start mb-0">List Topic</h2>

                        <!-- users filter start -->
                        <div class="card">
                            <h5 class="card-header">Search Filter</h5>
                            <div class="d-flex justify-content-between align-items-center mx-50 row">
                                <div class="col-md-6 topic_label"></div>
                                <div class="col-md-6 topic_status"></div>
                            </div>
                        </div>

                        <table class="datatables-basic table" id="list_topic">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Number of News</th>
                                    <th>SyncTime</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Modal to add new record -->
            <div class="modal modal-slide-in fade" id="modals-slide-in">
                <div class="modal-dialog sidebar-sm">
                    <form class="add-new-record modal-content pt-0" asp-action="Create" asp-controller="Topic" method="post" enctype="multipart/form-data">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
                        <div class="modal-header mb-1">
                            <h5 class="modal-title" id="exampleModalLabel">New Topic</h5>
                        </div>
                        <div class="modal-body flex-grow-1">
                            <div class="mb-1">
                                <label class="form-label" for="basic-icon-default-fullname">Topic Tag</label>
                                <input type="text" class="form-control dt-top-tag" asp-for="Tag" />
                            </div>
                            <div class="mb-1">
                                <label class="form-label" for="basic-icon-default-post">Description</label>
                                <textarea data-length="200" type="text" asp-for="Description" class="form-control char-textarea active" rows="3"></textarea>
                                <small class="textarea-counter-value float-end" style="background-color: rgb(115, 103, 240);"><span class="char-count">0</span> / 200 </small>
                            </div>


                            <div class="mb-1">
                                <label class="form-label" for="status">Label</label>
                                <select class="form-select" asp-for="Label" aria-invalid="false">
                                    <option>Breaking</option>
                                    <option>Featured</option>
                                    <option>Normal</option>
                                </select>
                            </div>


                            <div class="mb-4 border">
                                <div style="text-align: center">
                                    <img class="topic-thumb rounded me-2 my-25 cursor-pointer" height="100">
                                    <div class="col-12 mt-1">
                                        <label class="btn btn-primary me-75 mb-0 waves-effect waves-float waves-light" for="ThumbTopic">
                                            <span class="d-none d-sm-block">Choose Image</span>
                                            <input asp-for="ThumbTopic" class="form-control" type="file" hidden="" accept="image/png, image/jpeg, image/jpg">
                                            <span class="d-block d-sm-none">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit me-0"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                                            </span>
                                        </label>

                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary data-submit me-1">Submit</button>
                            <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>

@section footerscripts{

    <script src="/app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/dataTables.bootstrap5.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/responsive.bootstrap4.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/responsive.bootstrap4.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/buttons.bootstrap5.min.js"></script>
    <script src="/app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>
    <script src="/app-assets/vendors/js/forms/select/select2.full.min.js"></script>

    <script src="/src/js/admin/topic.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
}

