@model FakeNewsFilter.ViewModel.System.Users.RegisterRequest

@{
    ViewData["Title"] = "LIST USERS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/tables/datatable/dataTables.bootstrap5.min.css">

           


@if (ViewBag.SuccessMsg != null)
{
<script>
        setTimeout(function() {
            toastr['success'](
                '@ViewBag.SuccessMsg',
                'Success', {
                    closeButton: true,
                    tapToDismiss: false,
                    positionClass: "toast-bottom-left",
                    rtl: $('html').attr('data-textdirection') === 'rtl'
                }
            );
        }, 2000);
</script>
}


@if (ViewBag.Error != null)
{
    <script>
        setTimeout(function() {
            toastr['error'](
                '@ViewBag.Error',
                'Error', {
                    closeButton: true,
                    tapToDismiss: false,
                    positionClass: "toast-bottom-left",
                    rtl: $('html').attr('data-textdirection') === 'rtl'
                }
            );
        }, 2000);
    </script>
}


@foreach (var error in ViewData.ModelState.SelectMany(x => x.Value.Errors))
{
<script>
            setTimeout(function() {
                toastr['warning'](
                    '@error.ErrorMessage',
                    'Warning', {
                        closeButton: true,
                        tapToDismiss: false,
                        rtl: $('html').attr('data-textdirection') === 'rtl'
                    }
                );
            }, 2000);
</script>
}

<div class="card">
   
    <div id="DataTables_Table_0_wrapper" class=" card-body pb-50 dataTables_wrapper dt-bootstrap5 no-footer">
        <!-- Basic table -->
        <section id="basic-datatable">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <h2 class="content-header-title float-start mb-0">List Users</h2>

                        <!-- users filter start -->
                        <div class="card">
                            <h5 class="card-header">Search Filter</h5>
                            <div class="d-flex justify-content-between align-items-center mx-50 row">
                                <div class="col-md-6 user_role"></div>
                                <div class="col-md-6 user_status"></div>
                            </div>
                        </div>

                        <table class="datatables-basic table" id="list_users">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>User Name</th>
                                    <th>Role</th>
                                    <th>Role</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Modal to add new record -->
            <div class="modal modal-slide-in fade" id="modals-slide-in">
                <div class="modal-dialog sidebar-sm">
                    <form class="add-new-record modal-content pt-0" asp-action="Create" asp-controller="User" method="post">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
                        <div class="modal-header mb-1">
                            <h5 class="modal-title" id="exampleModalLabel">New User</h5>
                        </div>
                        <div class="modal-body flex-grow-1">
                            <div class="mb-1">
                                <label class="form-label" for="basic-icon-default-fullname">Full Name</label>
                                <input type="text" class="form-control dt-full-name" asp-for="Name" />
                            </div>
                            <div class="mb-1">
                                <label class="form-label" for="basic-icon-default-post">User Name</label>
                                <input type="text" asp-for="UserName" class="form-control dt-post" />
                            </div>
                            <div class="mb-1">
                                <label class="form-label" for="basic-icon-default-email">Role</label>
                                <input type="email" asp-for="Email" class="form-control dt-email" placeholder="john.doe@example.com" aria-label="john.doe@example.com" />
                                <small class="form-text"> You can use letters, numbers & periods </small>
                            </div>
                            <div class="mb-1">
                                <label class="form-label" for="basic-icon-default-salary">Password</label>
                                <input type="password" asp-for="Password" class="form-control dt-salary" />
                            </div>
                            <div class="mb-4">
                                <label class="form-label" for="basic-icon-default-salary">Confirm Password</label>
                                <input type="password" asp-for="ConfirmPassword" class="form-control dt-salary" />
                            </div>
                            <button type="submit" class="btn btn-primary data-submit me-1">Submit</button>
                            <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!--/ Basic table -->
    </div>

</div>

@section footerscripts{
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script src="/js/admin/user.js"></script>
}

