@model FakeNewsFilter.ViewModel.System.Users.UserViewModel


<li>
    <img alt="" src="http://localhost:2000/images/avatars/@Model.Avatar" width="150px" height="150px">
</li>
<li>

    @Model.FullName
</li>
<li>
    @foreach (var role in @Model.Roles)
    {
        @role
    }
</li>
