@using System.Globalization
@model List<FakeNewsFilter.ViewModel.Catalog.TopicNews.TopicInfoVM>
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
<ul class="font-small text-muted">
    <li class="cat-item cat-item-2 active">
        <a href="#">
            <span class="mr-10">
                <ion-icon name="earth-outline"></ion-icon>
            </span>International
        </a>
    </li>
    <li class="cat-item cat-item-3">
        <a href="#">
            <span class="mr-10">
                <ion-icon name="trending-up-outline"></ion-icon>
            </span>Businesss
        </a>
    </li>
    <li class="cat-item cat-item-4">
        <a href="#">
            <span class="mr-10">
                <ion-icon name="glasses-outline"></ion-icon>
            </span>Entertainment
        </a>
    </li>
    <li class="cat-item cat-item-5">
        <a href="#">
            <span class="mr-10">
                <ion-icon name="bicycle-outline"></ion-icon>
            </span>Sport News
        </a>
    </li>
    <li class="cat-item cat-item-6">
        <a href="#">
            <span class="mr-10">
                <ion-icon name="fitness-outline"></ion-icon>
            </span>Health
        </a>
    </li>
    <li class="cat-item cat-item-2">
        <a href="#">
            <span class="mr-10">
                <ion-icon name="book-outline"></ion-icon>
            </span>Magazine
        </a>
    </li>
</ul>