@using FakeNewsFilter.ViewModel.Catalog.NewsManage
@model List<NewsViewModel>
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
<div class="widget-header mb-30">
    <h5 class="widget-title">Last <span>Comments</span></h5>
</div>
<div class="post-block-list post-module-6">
    <div class="last-comment mb-20 d-flex wow fadeIn animated">
        <span class="item-count vertical-align">
            <a class="red-tooltip author-avatar" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Azumi - 985 posts"><img src="assets/imgs/authors/author-14.png" alt=""></a>
        </span>
        <div class="alith_post_title_small">
            <p class="font-medium mb-10"><a href="single.html">A writer is someone for whom writing is more difficult than it is for other people.</a></p>
            <div class="entry-meta meta-1 font-x-small color-grey float-left text-uppercase mb-10">
                <span class="post-by">By <a href="author.html">Azumi</a></span>
                <span class="post-on">4m ago</span>
            </div>
        </div>
    </div>
    <div class="last-comment mb-20 d-flex wow fadeIn animated">
        <span class="item-count vertical-align">
            <a class="red-tooltip author-avatar" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Harry - 1245 posts"><img src="assets/imgs/authors/author-9.png" alt=""></a>
        </span>
        <div class="alith_post_title_small">
            <p class="font-medium mb-10"><a href="single.html">Riding the main trail was easy, a little bumpy because my mountain bike is a hardtail</a></p>
            <div class="entry-meta meta-1 font-x-small color-grey float-left text-uppercase mb-10">
                <span class="post-by">By <a href="author.html">K. Harry</a></span>
                <span class="post-on">4m ago</span>
            </div>
        </div>
    </div>
    <div class="last-comment d-flex wow fadeIn animated">
        <span class="item-count vertical-align">
            <a class="red-tooltip author-avatar" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Johny - 445 posts"><img src="assets/imgs/authors/author-3.png" alt=""></a>
        </span>
        <div class="alith_post_title_small">
            <p class="font-medium mb-10"><a href="single.html">Teamwork begins by building trust. And the only way to do that is to overcome our need for invulnerability.</a></p>
            <div class="entry-meta meta-1 font-x-small color-grey float-left text-uppercase mb-10">
                <span class="post-by">By <a href="author.html">D. Johny</a></span>
                <span class="post-on">4m ago</span>
            </div>
        </div>
    </div>
</div>