<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
	>
	<variable name="LogDirectory" value="${gdc:LogDirectory}"></variable>
	
	<targets>
		<target name="logfile" xsi:type="File" fileName="${LogDirectory}/${shortdate}.log"
				 layout="${date} ${aspnet-user-claim:ClaimTypes.Name} ${uppercase:${level}} ${message} ${aspnet-request-ip}"/>
		
		<target name="logconsole" xsi:type="ColoredConsole"
				 layout="${date} ${aspnet-user-claim:ClaimTypes.Name} ${uppercase:${level}} ${message} ${aspnet-request-ip}"/>
		</targets>
	 
	<rules>
		<logger name="*" minlevel="Trace" writeTo="logconsole" />
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Trace" writeTo="logfile" />
    </rules>
</nlog>