<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <compilation debug="true"  />
        <httpRuntime  />
    </system.web>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="WebDAVModule"/>
        </modules>
        <handlers>
            <remove name="WebDAV" />
        </handlers>
    </system.webServer>
    <appSettings>
    </appSettings>
</configuration>
